html{
    background-color:darkgray;
    font-family:arial, sans-serif;
}
.sitenav{
    background-color: forestgreen;
}
mark, pre{
    background-color: white;
}
.syntax{
    background-color: #4b4b4b;
    color: white;
}
.syntax i, .formula i {
    color: darkgray;
}
.syntax em, .formula em {
    color: deepskyblue;
    font-weight: normal;
    font-style: normal;
}
.syntax strong, .formula strong {
    color: lightcoral;
    font-weight: normal;
    font-style: italic;
}
.formula {
    background-color: lightblue;
}
details{
    background-color: lightgreen;
}
.important-link:link, .important-link:visited {
    color:yellow;
}
.important-link:active, .important-link:hover{
    background-color: yellow;
    color: black;
}
	/*-- table --*/
caption{
    font-weight: 700;
    font-size: 1.2em;
    color: light
}
.table{
    border: solid black 1px;
    width: 95%;
    margin: auto;
    border-collapse: collapse;
}
.table tr:nth-child(odd){
    background-color: lightcyan;
}
.table tr:nth-child(even){
    background-color: lightgreen;
}
.table th, .table td{
    text-align: left;
    padding-left: 3px;
    font-size: 1.2em;
} 
.table th{
    background-color: firebrick;
	color: white;
    text-align: center;
}
.table i {
    color: darkgray;
}
.table strong {
    color: lightcoral;
    font-weight: normal;
    font-style: italic;
}
.table em {
    color: deepskyblue;
    font-weight: normal;
    font-style: normal;
}
.table tr [colspan] {
    background-color: lightseagreen;
    text-align: center;
}