    /* -- pre demo elements -- */
.demo i {
    color: darkgray;
}

    /*-- styled lists --*/
.pink {
	background-color:pink;
	padding:20px;
	list-style-type:square;
}
.pink li {
	background-color:cyan;
	padding-left:15px;
	margin-left:15px;
}
.blue {
	background-color:blue;
	padding:35px;
	list-style-type:circle;
}
.blue li {
	background-color:white;
	margin:5px;
	padding:20px;
}

    /*-- horizontal lists --*/
.setInside {
    border: solid black 1px;
    list-style-position: inside;
}
.setInside li {
    border: solid black 1px;
}

    /*-- horizontal lists --*/
.horizontal li{
	display:inline;
}

