
    /* -- style conversion table --*/
.convertionTable {
    display: inline-block;
    border: solid 1px black;
    padding: 10px;
}
.convertionTable input {
    width: 100px;
    margin-top: 5px;
    border: solid 1px orange;
}
.convertionTable input:focus {
    border: solid 1px green;
}
.convertionTable div {
    display: inline;
}

        /*-- trims TEST --*/
.trimTest {
    background-color: white;
    white-space: pre;
}
.btn {
    width: 100px;
}

        /*-- padding TEST --*/
.pad {
    list-style-type: none;
    font-family: monospace;
    font-size: 1.6em;
}