div#opacityall{
    font-size: 2.0em;
    font-family: Arial, sans-serif;
    border: solid blue 7px;
    opacity: 0.5;
}
div#opacityfont{
    font-size: 2.0em;
    font-family: Arial, sans-serif;
    color: RGBA(255,0,0,0.5);
    border: solid blue 7px;
}