        /*-- colorTest --*/
.colorTest {
    color: purple;
    text-transform: capitalize;
} 
        /*-- decorated text --*/
.textDeco {
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: wavy;
}
        /*-- text-decoration-skip --*/
.skipDeco1 {
    font-size: 2em;
    text-decoration: underline blue dotted;
    -webkit-text-decoration-skip: spaces;
}

        /*-- text-overflow --*/
.overflow {
    border: solid 1px black;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
}
.clip {
    text-overflow: clip;
}
.ellipsis {
    text-overflow: ellipsis;
}
.string {
    text-overflow: " -- Custom Stuff --";
}

        /*-- word-wrap --*/
#word-wrap-normal{
    width: 150px;
    border:solid 1px black;
}
#word-wrap-break-word{
    width: 150px;
    border: solid 1px black;
    word-wrap: break-word;
}

        /*-- word-break --*/
.word-break-normal{
    width: 200px;
    border: solid 1px black;
    overflow: visible;
}
.word-break-brake-all{
    width: 200px;
    border: solid 1px black;
    word-break: break-all;
}
.word-break-keep-all{
    width: 200px;
    border: solid 1px black;
    word-break: keep-all;
}
.word-break-break-word {
    width: 200px;
    border: solid 1px black;
    word-break: break-word;
}

        /*-- hyphens TEST --*/
.hyph {
    border: solid 1px black;
    width: 250px;
    resize: horizontal;
    overflow: auto;
}
.noneH { hyphens: none; }
.manualH { hyphens: manual; }
.autoH { hyphens: auto; }
    
        /*-- writing mode --*/
.writing-Mode {
    border: solid 1px black;
    float: left;
    margin: 10px;
    height: 120px;
    width: 200px;
    padding: 5px;
}
.tb {
    writing-mode: horizontal-tb;
}
.lt {
    writing-mode: vertical-lr;
}
.rl {
    writing-mode: vertical-rl;
}

        /* -- vertical-align table cell TEST --*/
.testTable {
    width: 500px;
    border: solid black 2px;
}
.testTable th {
    border: solid 1px black;
    height: 50px;
    text-align: center;
    vertical-align: top;
}
.testTable td {
    border: solid 1px black;
    height: 50px;
    text-align: center;
    vertical-align: bottom;
}

        /*-- white-space TEST --*/
.whiteSpace {
    width: 200px;
    height: 150px;
    border: solid black 2px;
    background-color: green;
}

        /*-- quotes property TEST --*/
.qouoteTest_1 { quotes: "<" ">"; }
.qouoteTest_2 { quotes: "//" "\\\\"; }
.qouoteTest_3 { quotes: "(" ")" "[" "]"; }
.qouoteTest_4 { quotes: "\2192" "\2190" "\2937" "\2936"; }
.qouoteTest_5 { quotes: none; }

        /*-- tab-size property TEST --*/
#tbSize2 { 
    tab-size: 2; 
    -moz-tab-size: 2; 
    -o-tab-size: 2;
}
#tbSize2em { 
    tab-size: 2em; 
    -moz-tab-size: 2em; 
    -o-tab-size: 2em;
}
#tbSize7 { 
    tab-size: 7em;
    -moz-tab-size: 7;
    -o-tab-size: 7;
}
#tbSize7em { 
    tab-size: 7em;
    -moz-tab-size: 7em;
    -o-tab-size: 7em;
}
#tbSize13 { 
    tab-size: 13;
    -moz-tab-size: 13; 
    -o-tab-size: 13;
}
#tbSize13em { 
    tab-size: 13em;
    -moz-tab-size: 13em; 
    -o-tab-size: 13em;
}












