html{
    background-color:darkgray;
    font-family:arial, sans-serif;
}
p#sitenav{
    position:fixed;
    background-color: forestgreen;
    top: 34px;
    left: 0;
    margin: 0;
    width: 100%;
    padding-left: 15px;
    z-index: 1;
}
                    /*horisontal menu*/
ul.hormenu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    background-color:darkorange;
    height: 35px;
    top: 0;
    left: 0;
    z-index: 2;
}
ul.hormenu li{
    float: left;
}
ul.hormenu li.right, ul.hormenu li.right-ness{
    float: right;
}
ul.hormenu li.right a, ul.hormenu li.right-ness a{
    border-left: solid 1px white;
    border-right: none;
}
ul.hormenu li a{
    display: inline-block;
    font-size: 1.3em;
    padding: 5px 9px;
    text-decoration: none;
    color: white;
    border-right:solid white 1px;
    cursor: url(../../../../Pictures/cursor.png),auto ;
}
ul.hormenu li a:hover{
    background-color:orangered;
    color: black;
}

                        /*image menu*/
div.ness{
    position: absolute;
    width: 240px;
    height: 190px;
    border: solid white 1px;
    display: none;
    cursor: url(../../../../Pictures/cursor.png),auto ;
}
img#nessimg{
    width: inherit;
    height: inherit;
}
.right-ness:hover .ness{
    display: block;
}
                        /*contact menu*/
div#content-contact{
    background-color: yellow;
    position: absolute;
    width: 200px;
    border: black solid 1px;
    cursor: url(../../../../Pictures/cursor.png),auto ;
    opacity: 0.9;
    display: none;
}
div#content-contact> a{
    display: block;
    padding: 5px 10px;
    border: none;
    border-bottom: black solid 1px;
    color: black;
}
div#content-contact:last-child{
     border-bottom: none;
}
#content-menu:hover #content-contact{
    display:block;
}
                    /*Information menu*/
div#content-information{
    background-color: yellow;
    position: absolute;
    width: 200px;
    border: black solid 1px;
    cursor: url(../../../../Pictures/cursor.png),auto ;
    opacity: 0.9;
    display: none;
}
div#content-information> a{
    display: block;
    padding: 5px 10px;
    border: none;
    border-bottom: black solid 1px;
    color: black;
}
div#content-information:last-child{
     border-bottom: none;
}
#information-menu:hover #content-information{
    display:block;
}
                    /*Choice menu*/
div#content-choice{
    background-color: yellow;
    position: absolute;
    width: 200px;
    border: black solid 1px;
    cursor: url(../../../../Pictures/cursor.png),auto ;
    opacity: 0.9;
    display: none;
}
div#content-choice> a{
    display: block;
    padding: 5px 10px;
    border: none;
    border-bottom: black solid 1px;
    color: black;
}
div#content-choice:last-child{
     border-bottom: none;
}
#choice-menu:hover #content-choice{
    display: block;
}

/*vertical menu*/
ul.vertmenu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 230px;
    background-color:darkorange;
    height: 100%;
    left: 0;
    top: 52px;
    overflow: hidden;
}
ul.vertmenu li a{
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 1.3em;
    display: block;
    padding: 9px;
    border-bottom: 1px white solid;
    cursor: url(../../../../Pictures/cursor.png),auto ;
}
ul.vertmenu li a:hover{
    background-color:orangered;
    color: black;
}
img#imgone{
    display: none;
    position: absolute;
    border: 1px solid black;
    width: 228px;
    height: 180px;
    top: 172px;
}
ul.vertmenu li:hover img#imgone{
    display: block;
}
img#imgtwo{
    display: none;
    position: absolute;
    border: 1px solid black;
    width: 228px;
    height: 180px;
    top: 172px;
}
ul.vertmenu li:hover img#imgtwo{
    display: block;
}

/*text field*/
div.txt{
    position: relative;
    left: 230px;
    top: 53px;
    max-width: 100%;
}
                        /*Gallery*/
.img{
    border: solid black 2px;
    width: 300px;
    background-color: coral;
    float: left;
    margin: 10px;
}
.img:hover{
    border: solid gray 2px;
}
.description{
    text-align: center;
    font-size: 1.2em;
}
