    /*-- column-count / column-gap TEST --*/
.multiple_columns-basics1{
    text-align: justify;
    column-count: 4;
    column-gap: 30px;
}

        /*-- column-rule-style / column-rule-width / column-rule-color TEST --*/
.multiple_columns-line1{
    text-align: justify;
    column-count: 3;
    column-gap: 45px;
    column-rule-style: double;
    column-rule-width: 10px;
    column-rule-color: darkmagenta;
    background-color: lightgreen;
}

        /*-- column-rule TEST --*/
.multiple_columns-line2{
    text-align: justify;
    column-count: 3;
    column-gap: 45px;
    column-rule: dotted 5px red;
}

        /*-- colum-width TEST --*/
.multiple_columns-width{
    text-align: justify;
    column-rule: solid black 1px;
    column-width: 200px;
}

        /*-- columns TEST --*/
.multiple_columns-colums{
    text-align: justify;
    column-rule: solid 2px black;
    background-color: bisque;
    column-gap: 33px;
    columns: 150px 3;
}

        /*-- column-span --*/
.multiple_columns-span{
    text-align: justify;
    background-color: bisque;
    column-count: 4;
    column-gap: 30px;
    column-rule: 1px solid black;
}
.multiple_columns-span > h3{
    column-span: all;
}

        /*-- cpecial split background color (custom code) --*/
.wrapper {
  position: relative;
}
.newspaper {
  column-count: 3;
  text-align: justify;
  column-gap: 45px;
  column-rule-style: double;
  column-rule-width: 10px;
  column-rule-color: darkmagenta;
}
.bgcolor, .bgcolor::before, .bgcolor::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: calc(33% - 5px);
  background-color: lightgreen;
  z-index: -1;
}
.bgcolor {
  left: 50%;
  transform: translateX(-50%);
}
.bgcolor::before {
  left: calc(-100% - 15px);
  width: calc(100% - 7px);
}
.bgcolor::after {
  right: calc(-100% - 15px);
  width: calc(100% - 7px);
}

        /*-- column-fill TEST --*/
.fillBalance {
    border: solid 2px black;
    height: 120px;
    background-color: bisque;
    column-count: 3;
    column-rule: dotted darkorchid 4px;
    column-fill: balance;
}
.fillAuto {
    border: solid 2px black;
    height: 120px;
    border: solid 2px black;
    height: 120px;
    background-color: bisque;
    column-count: 3;
    column-rule: dotted darkorchid 4px;
    column-fill: auto;
}

