    /*-- Propagation Demo --*/
#parentNode {
    width: 150px;
    height: 100px;
    border: solid black 2px;
    background-color: orange;
    display: flex;
}
#childNode {
    width: 110px;
    height: 55px;
    border: solid black 2px;
    background-color: chartreuse;
    margin: auto;
    display: flex;
}
#smallChildNode {
    width: 50px;
    height: 25px;
    border: solid black 2px;
    background-color: lightblue;
    margin: auto;
}

    /*-- addEventListener's use capture demo --*/
#useCapture-parent{
    float: left;
    display: flex;
    width: 150px;
    height: 100px;
    border: solid black 2px;
    background-color: orange;
}
#useCapture-child{
    margin: auto;
    width: 70px;
    height: 40px;
    border: solid black 1px;
    background-color: grey;
}
.useCapture-div{
    float: left;
    padding: 15px;
}
    
/*--  --*/
.event_object:link {
    color:black;
    font-size: 1.8em;
    font-weight: bold;
    font-variant: small-caps;
}