html{
    background-color:darkgray;
    font-family:arial, sans-serif;
}
.sitenav{
    background-color: forestgreen;
}
mark, pre{
    background-color: white;
}
.syntax {
    background-color: #4b4b4b;
    color: white;
}
.syntax i, .formula i, .table i {
    color: darkgray;
}
.syntax prot, .formula prot, .table prot {
    color: #04a200;
    }
.syntax em, .formula em, .table em {
    color: deepskyblue;
    font-weight: normal;
    font-style: normal;
}
.syntax strong, .formula strong, .table strong {
    color: lightcoral;
    font-weight: normal;
    font-style: italic;
}
.formula {
    background-color: lightblue;
}
details{
    background-color: lightgreen;
}
.important-link:link, .important-link:visited {
    color:yellow;
}
.important-link:active, .important-link:hover{
    background-color: yellow;
    color: black;
}
	/*-- table --*/
caption{
    font-weight: 700;
    font-size: 1.4em;
}
.table{
    border: solid black 1px;
    width: 95%;
    margin: auto;
    border-collapse: collapse;
}
.table tr:nth-child(odd){
    background-color: lightcyan;
}
.table tr:nth-child(even){
    background-color: lightgreen;
}
.table th, .table td{
    text-align: left;
    padding-left: 3px;
    font-size: 1.2em;
} 
.table th{
    background-color: firebrick;
	color: white;
    text-align: center;
}
.table tr [colspan] {
    background-color: lightseagreen;
    text-align: center;
}
    	/*-- sub site --*/
.subSite > a {
    font-size: 1.4em;
    letter-spacing: 0.1em;
    color: white;
    font-weight: bold;
}
.subSite > a:hover {
    color: black;
}
	/*-- color h2 with no style class --*/
h2:not([style]) {
    background-color: orange;
}
	/*-- control overflow pre and syntax --*/
pre, .syntax {
    overflow: auto;
}
/* ------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------*/
        /*fancy animation*/
.fancy{
    padding: 15px;
    width: 100px;
    position: relative;
    right: 0;
    background-color: darkorange;
    font-weight: bold;
    border: solid darkgreen 3px;
    border-radius: 7px;
    animation: fancy 10s forwards;
}
@keyframes fancy{
    0%   {top:0; left:0; transform:rotateZ(0) rotateY(0) scale(1);}
    25%  {top:0; left:700px; transform:rotateZ(360deg) rotateY(0) scale(1);}
    50%  {top:50px; left:0; transform:rotateZ(0) rotateY(0) scale(1);}
    75%  {top:50px; left:700px; transform:rotateZ(0) rotateY(-360deg) scale(1);}
    100% {top:25px; left:250px; transform:rotateZ(0) rotateY(0) scale(2);}
}
/*2*/
.rubin > div{
    width: 30px;
    height: 30px;
    background-color:blueviolet;
    border: solid darkblue 5px;
    transform: rotateZ(45deg);
}
.rubin{
    animation: rubin 2s linear infinite;
    width: 40px;
    margin-left: 70px;
}
@keyframes rubin{
    from {transform:rotateY(0);}
    to {transform:rotateY(360deg);}
}

        /* JavaScript animation demo */
#myContainer {
    width: 200px;
    height: 200px;
    position: relative;
    background: yellow;
}
#myAnimation {
    width: 30px;
    height: 30px;
    position: absolute;
    background: red;
}

        /*-- solving the restart animation problem --*/
#animProblem {
    width: 50px;
    height: 50px;
    background-color: mediumspringgreen;
    border: solid 2px black;
}
@keyframes animProb {
    100% { 
        width: 250px;
        height: 250px; 
        transform: rotateZ(1440deg)
    }
}