    /*-- ::backdrop --*/
#styledModal::backdrop {
  background-color: red;
  opacity: .3;
}

    /*-- popover-opn --*/
[popover] {
  background-color: red;
  color: white;
  padding: 50px;
}
[popover]::backdrop {
  background-color: blue;
  opacity: .4;
}