        /* border TEST */
#first{
	border-style:dotted;
	border-width:10px;
    width: 1000px;
    margin: auto;
    margin-bottom: 5px;
    text-align: center;
}
#two{ 
	border-style:dashed;
	border-color:green;
	border-width:medium;
    width: 1000px;
    margin:auto;
    margin-bottom: 5px;
}
#three{
	border-style:solid;
	border-color:red;
	border-width:2px 5px 10px 15px;
    width: 1000px;
    margin: auto;
    text-align: center;
}
#no{
	border-style:none;
    width: 1000px;
    margin: auto;
    text-align: center;
}
#five{
    border-style:double;
	border-width:3px 6px 10px 12px;
	border-color:yellow blue green red;
    width: 1000px;
    margin: auto;
    text-align: center;
}
#six{
	border-style:dotted groove solid groove;
    border-width:8px 5px 10px 5px;
	border-color:orange blue red blue;
    width: 1000px;
    margin: auto;
    text-align: center;
}

        /* Border Image */
#bor-img-shorthand-round{
    float: left;
    padding: 20px;
    margin-left: 50px;
    border: solid 10px transparent;
    border-image: url(border.png) 30 round;
}
#bor-img-shorthand-stretch{
    float: left;
    padding: 20px;
    margin-left: 50px;
    border: solid 10px transparent;
    border-image: url(border.png) 30 stretch;
}
#bor-img-width{
    float: left;
    padding: 20px;
    margin-left: 50px;
    border: solid 10px transparent;
    border-image-source: url(border.png);
    border-image-slice: 30;
    border-image-repeat: round;
    border-image-width: 20px;
}
#bor-img-fill{
    float: left;
    padding: 20px;
    margin-left: 50px;
    border: solid 10px transparent;
    border-image-source: url(border.png);
    border-image-slice: 30 fill;
    border-image-repeat: round;
    font-weight: bold;
}
#bor-img-outset{
    float: left;
    padding: 20px;
    margin-left: 50px;
    border: solid 10px transparent;
    border-image-source: url(border.png);
    border-image-slice: 30;
    border-image-repeat: round;
    border-image-outset: 35px;
}

        /* border image TEST 2 */
#try{
    width: 750px;
    height: 450px;
    margin: auto;
    background-image: url(merc.jpg);    
    background-repeat: no-repeat;
    border: solid 15px transparent;
    border-image: url(fancy-border.png) 25 round;
}

        /* border-image-width TEST */
.borderIMG_width {
    display: inline-block;
    padding: 15px;
    margin: 15px 25px;
    border: solid 10px transparent;
    border-image-source: url("border.png");
    border-image-slice: 33%; 
}
.biw1 {
    border-image-width: 1;
    border-image-repeat: stretch;
}
.biw2 {
    border-image-width: 2;
    border-image-repeat: repeat;
}
.biw3 {
    border-image-width: 10%;
    border-image-repeat: round;
}
.biw4 {
    border-image-width: auto;
    border-image-repeat: repeat;
}
.biw5 {
    border-image-width: 1.5;
    border-image-repeat: space;
}

        /* border-image-slice TEST */
.sliceT {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 10px 20px;
    border: solid 20px transparent;
    border-image-source: url("rounds (border image source).png");
}
.sl1 {
    border-image-slice: 100; 
    border-image-repeat: repeat;
}
.sl2 {
    border-image-slice: 50;
}
.sl3 {
    border-image-slice: 100 50;
}
.sl4 {
    border-image-slice: 100 150;
}

        /*-- Rounded Corners --*/
#object{
    padding: 30px 20px;
    background-color: forestgreen;
    width: 300px;
    border-radius: 20px;
    display: inline-block;
}
#border{
    display: inline-block;
    padding: 30px 20px;
    border: forestgreen 5px solid;
    width: 300px;
    margin-left: 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 80px;
}
#bcground{
    display: inline-block;
    padding: 30px 20px;
    width: 300px;
    margin-left: 50px;
    background-image: url(tile.png);
    color: white;
    font-weight: bold;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 50px;
}

        /*  border-radius shorthand property */
#shorthand-1value{
    display: inline-block;
    width: 200px;
    margin-left: 4%;
    background-color: forestgreen;
    border: black solid 2px;
    padding: 30px 20px;
    border-radius: 30px;
}
#shorthand-2value{
    display: inline-block;
    width: 200px;
    margin-left: 4%;
    background-color: forestgreen;
    border: black solid 2px;
    padding: 30px 20px;
    border-radius: 30px 70px;
}
#shorthand-3value{
    display: inline-block;
    width: 200px;
    margin-left: 4%;
    background-color: forestgreen;
    border: black solid 2px;
    padding: 30px 20px;
    border-radius: 30px 70px 100px;
}
#shorthand-4value{
    display: inline-block;
    width: 200px;
    margin-left: 4%;
    background-color: forestgreen;
    border: black solid 2px;
    padding: 30px 20px;
    border-radius: 30px 60px 90px 120px;
}

        /* round hover test */
.roundHover {
    width: 200px;
    height: 200px;
    border: solid 7px black;
    border-radius: 100% 0;
}
.roundHover:hover {
    background-color: yellowgreen;
}

        /* outline TEST! */
#outline{
    font-size: 1.5em;
    text-align: center;
    background-color: darkgoldenrod;
    width: 500px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: solid green 8px;
    outline: dashed yellow 30px;
}
#offset{
    font-size: 1.5em;
    width: 500px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    background-color: aqua;
    border: solid black 3px;
    outline: solid red 5px;
    outline-offset: 25px;
}

        /* outline offset TEST */
.outlineOff {
    display: inline-block;
    margin: 0;
    width: 200px;
    height: 200px;
    border: solid 10px green;
    outline: solid 10px rgba(255, 0, 0, 0.4);
}
