
        /*-- :link | :visited | :hover | :active TEST --*/
.hover_click:hover {
    background-color: black;
    color: white;
}
.hover_click:active {
    background-color: red;
}
#button:link{
    background-color: darkgreen;
    padding: 15px 25px;
    color: white;
    text-decoration: none;
    font-weight: 500;
}
#button:visited{
    color:white;
}
#button:hover{
    font-weight:bold;
    background-color: chartreuse;
    color: black;
}
#button:active{
    background-color: red;
    font-weight: bold;
    color: black;
}

        /*-- Custom Toolpit :hover TEST --*/
.toolpit{
    font-weight: bold;
    background-color: white;
    width: 350px;
    position: relative;
}
.toolpit p{
    font-weight: bold;
    display:none;
    background-color: yellow;
    font-size: 2.5em;
    position: absolute;
    left: 100%;
    bottom: -250%;
    width: 100%;
    color:black;
}
.toolpit:hover p{
    display: block;
}
        /*-- child VS type TEST --*/
.child_VS_type div:first-child {
    background-color: red;
}
.child_VS_type div:first-of-type {
    color: yellow;
}

        /*-- first-cild / first-of-type TEST --*/
.child{
     background-color: aquamarine;
}
.child p:first-child {
    background-color: red;
}
.italic{
    background-color: aquamarine;
}
.italic p i:first-child{
    background-color: red;
}
.fitalic{
    background-color: aquamarine;
}
.fitalic p:first-child i{
    background-color: red;
}

        /*-- last-child / last-of-type TEST --*/
.lchild{
    background-color: aquamarine;
}
.lchild p:last-child{
    background-color: red;
}
#ltype{
    background-color: aquamarine;
}
#ltype p:last-of-type{
    background-color: red;
}

        /*-- nth-child() / nth-of-type() / nth-last-child() / nth-last-of-type() TEST --*/
#nthsimple{
    background-color: aquamarine;
}
#nthsimple h3:nth-child(2){
    background-color: red;
}
#nthsimple h3:nth-last-of-type(1){
    background-color: red;
}
#nthsimple p:nth-last-of-type(3){
    background-color: red;
}
#nthsimple p:nth-of-type(2){
    background-color: red;
} 
/*----------------*/
#evenandodd{
    background-color: aquamarine;
}
#evenandodd p:nth-child(even){
    background-color: orangered;
}
#evenandodd p:nth-child(odd){
    background-color: orange;
}
/*----------------*/
#anpluszero{
    background-color: aquamarine;
}
#anpluszero p:nth-child(3n+1){
    background-color: orangered;
}
#anpluszero p:nth-last-of-type(3n+2){
    background-color: orange;
}

        /*-- not() TEST --*/
#not *:not(.select){
    color:green;
}

        /*-- :empty TEST --*/
.empty_test:empty {
    border: solid 3px red;
}

        /*-- only-child / only-of-type --*/
.parent_only {
    border: solid 1px black;
}
.parent_only p:only-child {
    color: green;
    font-weight: bold;
}
.parent_only span:only-of-type {
    color: olivedrab;
    font-weight: bold;
}

        /*-- :default: TEST --*/
.form {
    border: solid 1px black;
    display: inline;
    padding: 5px;
    max-width: 1200px;
}
:default {
    color: red;
}
fieldset :default {
    width: 20px;
    height: 20px;
}

        /*-- :focus TEST --*/
input#focus:focus{
    background-color: darkorange;
}

        /*-- :checked TEST --*/
#box input[type="radio"]:checked{
    height: 20px;
    width: 20px;
}
#box input[type="checkbox"]:checked + label{
    color: green;
    font-weight: bold;
    text-decoration: underline;
}

        /*-- :enabled / :disabled TEST --*/
#txt input[type="text"]:enabled{
    background-color: green;
}
#txt input[type="text"]:disabled{
    background-color: red;
    color:white;
}

        /*-- :in-range / :out-of-range TEST --*/
#number input[type="number"]:in-range{
    background-color: lightgreen;
    border: solid 2px black;
}
#number input[type="number"]:out-of-range{
    background-color: red;
    border: solid 2px black;
}

        /*-- :valid / :invalid  TEST --*/
#email input[type="email"]:valid{
    background-color: forestgreen;
}
#email input[type="email"]:invalid{
    background-color: red;
}

        /*-- :optional / required TEST --*/
form#opt input[type="text"]:optional{
    background-color: forestgreen;
}
form#opt input[type="text"]:required{
    background-color: orange;
}

        /*-- :read-only / :read-write TEST --*/
form#readonly input[type="text"]:read-write{
    background-color: forestgreen;
}
form#readonly input[type="text"]:read-only{
    background-color: orange;
}
    /*-- REQUIRED in Firefox--*/
form#readonly input[type="text"]:-moz-read-write{
    background-color: forestgreen;
}
form#readonly input[type="text"]:-moz-read-only{
    background-color: orange;
}
    
        /*-- :root TEST --*/
:root {
    /*-- font-size: 1.2em; --*/
}

        /*-- :lang TEST --*/
:lang(hu){
    color: green;
    font-size: 1.2em;
    font-weight: bold;
}

        /*-- :target TEST  -- */
#bookMarks p:target {
    color: orange;
    background-color: white;
}
#bookMarks p:target::after {
    content: "<-- TARGETED";
    color: red;
}

        /*-- :first-letter TEST --*/
.fLetter{
    border: solid black 2px;
    width: 40%;
    height: 125px;
    margin: auto;
    padding: 10px;
    background-color:coral; 
}
.fLetter::first-letter {
    float: left;
    font-size: 2em;
    padding-right: 3px;
    color: white;
    font-weight: 600;
}

        /*-- ::first-line TEST --*/
.fLine{
    border: solid black 2px;
    width: 40%;
    height: 125px;
    margin: auto;
    padding: 10px;
    background-color:coral; 
}
.fLine::first-line {
    color: white;
    font-variant: small-caps;
}

        /*-- ::before / ::after TEST --*/
.image_insert::before{
    content: url(../../../../Pictures/Smilie.jpg);
    width: 100px;
}
.image_insert::after{
    content: "";
    display: inline-block;
    width: 100px;
    height: 100px;
    background-image: url(../../../../Pictures/Smilie.jpg);
    background-size: cover;
}

        /*-- ::before / ::after DOM TEST --*/
#addedContent::before {
    content: "text added Before";
    color: greenyellow;
}
#addedContent::after {
    content: "text added After";
    color: yellow;
}
        /*-- ::selection TEST --*/
.select_me::selection{
    color: white;
    background-color: red;
}
.select_me::-moz-selection{
    color: white;
    background-color: red;
}

        /*-- ::backdrop TEST --*/
#myDialogBox2 {           
    border: red dashed 5px;
    text-decoration: underline;
}
#myDialogBox2::backdrop {     
    background-color: rgba(255, 0, 0, .4);
}


