html{
    background-color:darkgray;
}
p#sitenav{
    background-color: forestgreen;
}
html{
    background: url(../../../../../Pictures/Smilie.jpg) no-repeat center fixed;
    background-size: contain;
}