
        /*-- filter property TEST --*/
#filters img{
    float:left;
    padding: 15px;
    max-width: 250px;
    height: auto;
}
#fxnone{
    filter: none;
    -webkit-filter: none;
}
#fxblur{
    filter: blur(7px);
    -webkit-filter: blur(7px);
}
#fxbrightness{
    filter: brightness(1000%);
    -webkit-filter: brightness(1000%);
}
#fxcontrast{
    filter: contrast(500%);
    -webkit-filter: contrast(500%);
}
#fxgreyscale{
    filter: grayscale(100%);
    -webkit-filter: greyscale(100%);
}
#fxhue-rotate{
    filter: hue-rotate(180deg);
    -webkit-filter: hue-rotate(180deg);
}
#fxinvert{
    filter: invert(100%);
    -webkit-filter: invert(100%);
}
#fxopacity{
    filter:opacity(25%);
    -webkit-filter:opacity(25%);
}
#fxsaturate{
    filter: saturate(500%);
    -webkit-filter: saturate(500%);
}
#fxsepia{
    filter: sepia(85%);
    -webkit-filter: sepia(85%);
}
#fxdrop-shadow{
    filter: drop-shadow(12px 12px 8px green);
    -webkit-filter: drop-shadow(12px 12px 8px green);
}
#fxmix{
    filter: drop-shadow(12px 12px 8px green) blur(2px) hue-rotate(180deg);
    -webkit-filter: drop-shadow(12px 12px 8px green) blur(2px) hue-rotate(180deg);
}

        /* -- using SVG filter TEST --*/  
#svgFilterTest {
    max-width: 250px;
    height: auto;
    filter: url(#svg-blur);
}

        /*-- background-blend-mode TEST --*/
#blendBg {
    width: 500px;
    height: 330px;
    float: left;
    border: solid 2px black;
    background-image: url(Images/Me.jpg), radial-gradient(red, blue); 
    background-size: cover;
    background-blend-mode: multiply;
    
}
#blendControl {
    float: left;
    height: 330px;
}

        /*-- mix-blend-mode TEST --*/
.blendContent {
    border: solid 2px black;
    height: 600px;
    background-color: darkgreen;
    
}
.blendContent img {
    float: left;
    width: auto;
    height: 200px;;
}
.multiply {mix-blend-mode: multiply;}
.screen {mix-blend-mode:screen; }
.hue {mix-blend-mode:hue; }
.difference {mix-blend-mode:difference; }
.exclusion {mix-blend-mode:exclusion; }
.color-dodge {mix-blend-mode:color-dodge; }
.overlay {mix-blend-mode:overlay; }

        /*-- isolate property TEST --*/
.isolate {
    width: 400px;
    height: 200px;
    border: solid 2px black;
    display: flex;
    background-color: red;
}
.isolateCh_1 {
    display: flex;
    margin: auto;
    width: 150px;
    height: 150px;
    border: solid 3px blue;
    isolation: isolate;
}
.isolateGrandCh_1 {
    margin: auto;
    width: 100px;
    height: 100px;
    border: solid 2px black;
    background-image: url(Images/rock.jpg);
    background-size: cover;
    mix-blend-mode: screen;
}
.isolateCh_2 {
    display: flex;
    margin: auto;
    width: 150px;
    height: 150px;
    border: solid 3px blue;
    background-color: green;
    isolation: isolate;
}
.isolateGrandCh_2 {
    margin: auto;
    width: 100px;
    height: 100px;
    border: solid 2px black;
    background-image: url(Images/rock.jpg);
    background-size: cover;
    mix-blend-mode: screen;
}


