        /* caret-color */
[class|=car-col] {
    font-size: 1.7rem;
    background-color: black;
}
.car-col-1 { caret-color: red; }
.car-col-2 { caret-color: blue; }
.car-col-3 { caret-color: orange; }

        /* accent-color */
.acc-col {
    accent-color: orange;
}