.card {
  container-type: inline-size;
  container-name: hello;
}

.card h2 {
  font-size: 1em;
  color: blue;
  border: solid 1px black;
}

@container (min-width: 700px) {
  .card h2 {
    font-size: 2em;
    color: red;
  }
}

@container hello (min-width: 700px) {
  .card h2 {
    font-size: 3em;
    color: cyan;
  }
}