        /*-- container query without name --*/
@container (min-width: 768px) {
  .cont-child {
    background-color: orange;
  }
}

.cont-test {
  container-type: inline-size;
}

        /*-- container query with name --*/
@container cn-1 (width > 768px) {
  .cont-name-child {
    background-color: orange;
  }
}
@container cn-2 (width > 768px) {
  .cont-name-child {
    background-color: cyan;
  }
}

.cont-name-test-1 {
  container: cn-1 / inline-size;
}
.cont-name-test-2 {
  container: cn-2 / inline-size;
}

    /*-- logical condition --*/
@container logicalCont (width <= 500px) or (width >= 1000px) {
  .cont-cond-child {
    background-color: orange;
  }
}

.cont-cond-test {
  container: logicalCont / inline-size;
}
