<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title> Django </title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="../Assets/stylesPages.css">
  <script src="../Assets/scriptPages.js"></script>
</head>

<body>
  <h1> Django </h1>
  <p> Updated ( 2023-01-12 )</p>
  <p class="sitenav"> <a href="../index.html">MySite></a> Django </p>


  <p class="subSite"><a href=""> SubSite > </a></p>



  <table class="table">
    <caption>
      <span class="changeListOrder">[Ordered: <span>Alphabetically</span>]</span>
    </caption>
    <tr>
      <th style="width:30%;"> Method / Property / statement ect... </th>
      <th> Description </th>
    </tr>
    <tr class="0">
      <td>
        demo prop
      </td>
      <td>
        - demo description
        <span class="browserSupport" title="updated : yyyy-mm-dd">
          <span> dj </span>
        </span>
      </td>
    </tr>




  </table>
  <br>
   <h2 class="headerSection"> Description and Demonstration </h2>
  <h2 class="headerSection"> Useful Links : </h2>
  <p><a href='https://docs.djangoproject.com/en/4.1/' target='_blank'>Django docs (docs.djangoproject.com)</a></p>
  <h2 class="headerSection"> Remember This : </h2>

  <h2 class="headerSection"> Description and Demonstration : </h2>





  <!--
---------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
stage 1: high level overview 
    - read through 
    - create notes 
    - deciede what exactly will you document down 
    
stage 2:  low level overview
    - deeper understanding of all what you've taken down in stage 1
    
stage 3 : 
    - organize and document down everything 
---------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------



- project is broken to applications (a Django project is a collection of apps)
    - Django applications are designed to be reused
- MVT (model, view, template)
    - model -> data handling and modeling
    - view -> business logic
    - template -> view template

- urlpatterns -> include() mechanism

coreAppDirectory/urls.py                                        -> where all the routing is 
coreAppDirectory/settings.py                                    -> django settings

appDirectory/views.py                                           -> where all the view for this app is handled
appDirectory/models.py                                          -> where the DB is handled
appDirectory/urls.py                                            -> where the routing is handled


<strong>projectDir</strong>
    |-manage.py                       // used by django-admin commands (ex: <mark>python manage.py runserver</mark>)
    |-<strong>coreApp</strong>        // has the same name as the <strong>projectDir</strong>
    |   |-wsgi.py                     // server file
    |   |-urls.py                     // core urls
    |   |-settings.py                 // core settings
    |-<strong>app</strong>
    |   |-urls.py                     // app urls
    |   |-views.py                    // app views
    |-static                          // directory where static files are placed (we can place this in apps as well)


- describe admin features 
    - Django handles password hashing for us 
    - user management by default 


-----------------------------------------------------------------------------
commands (from the project root directory)
-----------------------------------------------------------------------------
  django-admin                                                  -> prints available Django commands
  
  django-admin startproject <strong>projectName</strong>        -> creates the Django project 
  
  python manage.py runserver                                    -> in the Django project folder (starts the dev server)
  
  python manage.py startapp <strong>appName</strong>            -> creates a new app (skeleton and boilerplate code)
  
  python manage.py makemigrations                               -> creates the migration script (in the <strong>appDir</strong>/migrations/__init__.py file)
  
  python manage.py migrate                                      -> runs databse migrations (creates / modifies the db structure) based on <strong>appDir</strong>/migrations/__init__.py file

  python manage.py createsuperuser                              -> creating admin

  python manage.py sqlmigrate <strong>appName</strong> <strong>migrationsNr<strong> -> prints the SQL query for the specified migration

  python manage.py shell                                        -> entering django shell (djang settings are already imported here, ex: we can query db etc...)

  



-----------------------------------------------------------------------------
settings.py (file)
-----------------------------------------------------------------------------
      - INSTALLED_APP
          - app config classes are listed here (new application configs must be listed here (conrfig class in the <mark>apps.py</mark> file))
      - TEMPLATES
          - DIRS -> list to template directories (in the project we can pass just the template name, templates will be looked up on these paths)
  
      - STATIC_URL = <strong>path:str</strong>  
          - URL prefix for static resources (ex: <strong>prefix/resource</strong> request will be made for static files)
      - STATICFILES_DIRS = [<strong>absolutePath:str</strong>]
          - list of directory where static files live
  
  
  
-----------------------------------------------------------------------------
urls.py 
-----------------------------------------------------------------------------
    from django.urls import path, include
    from <strong>viewModule</strong> import <strong>viewFn</strong>
    from django.views.generic.base import RedirectView
    
    
    urlpatterns = [
        path(<strong>route:str|regExp</strong>, <strong>viewFn</strong> name=<strong>routeName</strong>),   // the <strong>route:str</strong> works hierarchycally (ex if the root url file has <mark>test</mark> the the app will be reacable on <mark>test/<strong>appRoute</strong></mark>)
        path(<strong>route:str</strong>, indclude(<strong>pathTo<mark>urls.py</mark></strong>)),            // the <mark>urlpatterns</mark> variable from the targeted <mark>urls.py</mark> file will be automatically looked up for available paths
        path(<strong>route:str</strong>, RedirectView.as_view(url=<strong>route:str</strong>)               // to redirect view
    ]
    
    
    
    
    
    
    
    
    
-----------------------------------------------------------------------------
views.py 
-----------------------------------------------------------------------------
    from django.shortcuts import render, redirect
    from django.http import HttpResponse

    def <strong>viewName</strong>(<strong>req</strong>):
        return render(<strong>req</strong>, <strong>pathToView</strong>, ctx:dict, content_type=None status=None)        // the template path is resolved when setting the app config in the INSTALLED_APPS in the config file (lookup from the <appDir>/templates dir), we also can specify the templates lookup path in the settings.py TEMPLATES[{DIR}]
    
    ctx:dict      -> dictionary containing values that we pass to the template
    content_type  -> MIME content type (Default: 'text/html')
    status        -> status code (Default: 200)
    
    
    
    def <strong>viewName</strong>(<strong>req</strong>):
        return HttpResponse(<strong>html:str</strong>)           // string containing html markup


    <strong>req</strong>.method                               // request method
    redirect(<strong>pathName</strong>)                       // redirects to path (urls.py.urlpatters.path(name=here))


-----------------------------------------------------------------------------
templates (Django templates are very similar to Jinja2)
-----------------------------------------------------------------------------
- appName
    - templates
        - appName                 -> convention to store templates on app level


    {% include <strong>templatePath</strong> %}


--------------------------
    {{ <strong>var</strong> }}                                  // to access code variables within the template
    {{ <strong>var</strong>|<strong>filter</strong> }}          // filtering the displayed data     https://realpython.com/django-templates-tags-filters/ (link to explore)



--------------------------
    {% <strong>var</strong> in <strong>contextKey</strong> %}         // looping (the contextKey is one of the keys on this templates context passed in render(context=<strong>dict</strong>)
        <strong>var</strong>

    {% endfor %}



--------------------------
    {% if <strong>cond</strong> %}          // only the if is required
        // html here...
    {% elif <strong>cond</strong> %}
        // html here...
    {% else %}
        // html here...
    {% endif %}


--------------------------
a block is a section that child templates can override
  - interestingly we exted from child to parent 
  - so the view is the child wich blocks are extended in the pulled parent blocks ??? WTF <- complicated as F
  
    child template
    -----------------------
    {% extends <strong>parentTemplatePath</strong> %}           // extending a 'base' view (1 allowed in 1 template)

    {% block <strong>blockName</strong %}                       // the <strong>blockName</strong> is a references in the base template
      // HTML content that we want to insert in the base content
    {% endblock %}

    parent template
    -----------------------
    {% block <strong>blockName</strong> %} {% endblock %}       // references the <strong>blockName</strong> in the child template
                                                                // HTML content in the <strong>blockName</strong> in the child template will be inserted here 



--------------------------
{% load static|pluginName %}         // loading static resources (used to load libraries or templates, these templates are default or provided in the <mark>settings.py</mark>)
                          // the <mark>static</mark> represents the base paths in the <mark>STATICFILES_DIRS</mark> in the <strong>settings.py</strong> file  



static request resource {% static <strong>path:str</strong> %}   // <mark>static</mark> is the base path to static resources
  ex:

  <link rel='stylesheet' type='text/css' href="{% static 'one/two/three/x.css' %}">
  <img src="{% static 'some_image.jpg' %}"



--------------------------
  <a href="{% url <strong>urlPatternNmame</strong> %}"          // will reference the url name in the <mark>urlpattern</strong> path(name=<strong>pathName</strong>)



-----------------------------------------------------------------------------
models.py 
-----------------------------------------------------------------------------
  - each class is a table in the DB (the table in the database is prefixed with the app name)
  - primary key is automatically added to the table if we don't specify one (with the field name of 'id' incrementing integers)


from django.contrib.auth.models import User     -> import the User model (the user table)



class <strong>TableName</strong>(models.Model):
    <strong>filedName</strong> = model<strong>filedType()</strong>

    def __str__(self):                    # specify how to print records 
        return self.<strong>fieldName</strong>  # by example 


<strong>Model</strong>(<strong>colName</strong>=<strong>val</strong><i>, ...</i>)
    - returns the <strong>Model</strong> object with the added record (must be saved to write to the db)
<strong>Model</strong>.(<small>force_insert=False</small>, <small>force_update=False</small>, <small>using=DEFAULT_DB_ALIAS</small>, <small>update_fields=None</small>)
    - saves (commits) previous model changes in the data base

<strong>Model</strong>objects.create(<strong>colName</strong>=<strong>val</strong><i>, ...</i>)
    - inserts a new record in DB (no need to save this way)


<strong>Model</strong>.objects
    - returns a django manager object


<strong>querySet</strong>.delete()
<strong>record</strong>delete()
    - to delete record(s)



<strong>Model</strong>.objects.all()
    - get all records (in a querySet <- iterable object containing records)
<strong>Model</strong>.objects.first()
    - returns the first <strong>record</strong> in the table
<strong>Model</strong>.objects.last()
    - returns the last <strong>record</strong> in the table

<strong>Model</strong>.objects.get(<strong>colName</strong>=<strong>val</strong>)   -> we can use pk=<strong>int</strong>
    - filters ONE record (if more than one record found throws an error)
<strong>Model</strong>.objects.filter(<strong>colName</strong>=<strong>val</strong><i>, ...</i>)[.first()|last()]
    - return all records in a querySet wher the <strong>colName</strong> filter matches

<strong>record</strong>.<strong>colName</strong>
    - returns the record value of the specified column

updating record
<storng>record</strong> = <strong>record</strong>.<strong>colName</strong> = <storng>newVal</strong>
<strong>record</strong>.save()            - save the returned value 


<strong>recordA</strong>.<strong>recordB</strong>_set
    - return a querySet containing all <strong>recordB</strong> where foreigh keys are related to <strong>recordA</strong>


<strong>Model</strong>.objects.last(<strong>fieldName</strong>=<strong>filter:str</strong>)
ex_user = <strong>Model</strong>.objects.last(<strong>fieldName</strong>=<strong>filter:str</strong>).first()
    - returns the user record
ex_user.id
    - get the field
<strong>Model</strong>.objects.get(<strong>fieldName<strong>=<strong>val</strong>)[.all()|create()]
    - get the record by <strong>fieldName</strong>


-- foreign key 
class <strong>Model</strong>(models.Model):
    <strong>key</strong> = models.ForeignKey(<strong>upperModel</strong>, on_delte=models.CASCADE)          on_delete -> models.CASCADE = deleting the pk of this foreign key will delete this foreign key as well / on_delete - model.PROTECT -> won't allow to delete the pk linking thie foregin key / on_delete - model.SET_NULL -> set this foreig key to NULL / https://docs.djangoproject.com/en/4.1/ref/models/fields/#arguments

    <strong>Model</strong>.objects.create(... <strong>foreignKeyField</strong>=<strong>pkRecord</strong>)   - the <strong>pkRecord</strong> is the primary key record from the parent (referenced) table 




- all fields (document these down)
https://docs.djangoproject.com/en/4.1/ref/models/fields/


-----------------------------------------------------------------------------
forms
-----------------------------------------------------------------------------
from django.contrib.auth.forms import UserCreationForm        -> builtin form (has validation and all that is needed to provide a basic form), 
{% csrf_token %}    -> include this in all form POST request for crf check (Cross Site Request Foreign)
                                                              -> this also does frontend 
                    -> server can check if the user is the one it should be 
                    -> generated by the server then the server check if the right token is received



-----------------------------------------------------------------------------
structure plan
-----------------------------------------------------------------------------
    - Basics
        - overview of app structure and the base structure
    - Views and Templates
        - views.py file
        - templating syntax
    - Model (DB stuff)


- do do
    - a user registration form with feedback (from django.contrib import messages -> this guy stores its value in a cookie)
    
    - to retrieve the message in the frontend
    ---------------
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

?????????????????????????????????????????????????????????????????????????????????????????????
WRITE DOWN WHAT YOU DON'T UNDERSTAD OR MUST BE TESTED AS QUESTIONS HERE
?????????????????????????????????????????????????????????????????????????????????????????????

-->


  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>


  <h2 class="headerExtra"><u> Title 1 </u></h2>
  <h2 class="header"> Title 1.1 </h2>
  <h3 class="header"> Title 1.1.1 </h3>
  <h4 class="header"> Title 1.1.1.1 </h4>
  <p> - stuff to learn <mark>syntax or command (or some tchnical stuff)</mark> bla bla bla </p>
  <p> - stuff to learn <mark class="mark">highlights like file names and other things</mark> bla bla bla </p>
  <p style="text-decoration:underline;"> - important information is underlined </p>
  <p style="color:yellow;"> - very important information is written with yellow colors </p>
  <p style="background-color:yellow;"> - highly important information has yellow background color </p>
  <div style="background-color:red;">
    <p> - red background block means not learned or not tested information! </p>
    <p> - </p>
  </div>

  <pre class="syntax">
SYNTAX :    main syntax
            <em>literally used </em>
            <small>literally used optional </small>
            <prot style="color:#049500;">prototype chain</prot>
            <strong>required value </strong>
            <i>optional value </i>
                - some descriptions will come here (like arguments)
                - ??? (3 question marks) in syntax means not tested or not learned yet
                
            <span class="openable"> this is an openable element<div>
                <p> - openable elements listed here in paragraphs </p>
                <p> - </p>
            </div></span>
    </pre>

  <details class="example">
    <summary> DEMO </summary>
    <pre>
    examples of the current lessons 
    
// -----------------------------------------

// -----------------------------------------
    </pre>
  </details>

  <pre class="cmd">
    command line demo 
    </pre>
  <pre class="formula">
    formula code (like conversion meter...)
    </pre>
  <details class="example">
    <summary> Example : </summary>
    <h4 style="color:darkblue;"><u> example title </u></h4>
    <p> - live tests will come here </p>
    <details>
      <summary class="exampleCode"> CODE : </summary>
      <pre>
    copy of the exaple code 
        </pre>
    </details>
  </details>
  <!---------------------------------------------------------------------------------------------------------------------------------->
  <hr>

  <h2 class="test" style=""><a href="TEST/index.html"> TEST > </a></h2>


  <br><br>
</body>

</html>