

        /*-- styling with CSS */
#demo{
    border-radius: 7px;
    width: 60%;
    margin: auto;
    background-color: darkkhaki;
    border: double black 1px;
    padding: 25px;
}
#demo form input[type="text"], #demo form select{
    width: 100%;
    padding: 15px 20px;
    margin: 5px 0;   
    display: inline-block;
    border: solid red 2px;
    border-radius: 7px; 
    background-color: lightgreen;
    box-sizing: border-box;
    font-family: verdana, sans-serif;
    font-size: 1.2em;
    -webkit-transition: background-color 2s, border 2s;
    transition: background-color 1s, border 1s;
    outline: none;
}
#demo form label{
    color: white;
    font-size: 1.2em;
}
#demo input[type="text"]:focus{
    background-color: red;
    border-color: white;
}
#demo input[type="submit"]{
    width: 100%;
    background-color:forestgreen;
    margin-top: 5px;
    border: none;
    border-radius: 7px;
    padding: 15px 0px;
    font-size: 1.2em;
    font-family: verdana, sans-serif;
    margin-top: 18px;
    cursor: pointer;
    transition: color 1s, background-color 1s;
}
#demo input[type="submit"]:hover{
    color: white;
    background-color: darkgreen;
}
            /*--textarea--*/
.txt{
    width: 60%;
    margin: auto;
}
.txt textarea{
    width: 100%;
    background-color: lightblue;
    outline: none;
    height: 100px;
    resize: none;
    border: black solid 4px;
    transition: border 750ms;
}
.txt textarea:focus{
    border-color: white ;
}
        /*--search--*/
#search input[type="search"]{
    width: 50%;
    margin-left: 25%;
    font-size: 1.2em;
    padding: 10px 10px 10px 45px;
    outline: none;
    border: solid #ccc 2px;
    border-radius: 3px;
    background: url(magnifying_glass.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    -webkit-transition: width 1s, margin 1s, border 1s, background 1s;
    transition: width 1s, margin 1s, border 1s, background 1s; 
}
#search input[type="search"]:focus{
    width: 60%;
    margin-left: 20%;
    border: black solid 2px;
    background: url(magnifying_glass%20focus.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
}
[type="image"] {
    margin-top: 3px;
}
[name="out"] {
    font-weight: bold;
    color: blueviolet;
    padding: 0 5px;
}
[name="ra"]:focus {
    outline: none;
}
    /*-- fix transition Chrome problem --*/
.preload * {
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}

        /*-- caret-color TEST --*/
#in1 {
    caret-color: auto;
}
#in2 {
    background-color: black;
    caret-color: red;
}
#in3 {
    background-color: black;
    caret-color: blue;
}
#in4 {
    background-color: black;
    caret-color: white;
}

