<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1> This is the LIST page</h1>
    <ol>
      {% for listItem in list %}
        <li> {{listItem.date}} - {{listItem.content}}</li>
      {% endfor %}
    </ol>
  <hr>
  <h1> Testing if </h1>
  {% if nr == 1 %}
    <p> nr = 1 </p>
  {% endif %}
  
  <hr>
  <h1> Testing block </h1>
  {% block content %}
  
  {% endblock %}
  
</body>

</html>