        /*-- General Sibling and Adjacent Sibling Combinator TEST --*/
#addTest + p {
    color: green;
}
#addTest ~ * {
    font-weight: bold;
}

        /*-- Descendent Combinator TEST --*/
#descendent{
    border:solid black 2px;
    background-color:cornflowerblue;
}
#descendent p{
    background-color:red;
}

        /*-- Child Combinator TEST --*/
[id="child"]{
    border:solid black 2px;
    background-color:cornflowerblue;
}
div#child > p{
    background-color:red;
}

        /*-- Grouping Combinator TEST --*/
#groupingdiv{
    border:solid black 2px;
    background-color:cornflowerblue;  
}
#grouping1, #grouping2, #grouping3{
    background-color:red;
}

        /*-- Adjacent Sibling TEST --*/
#sibling{
    border:solid black 2px;
    background-color:cornflowerblue;
}
#sibling + p{
    background-color: red;
}

        /*-- General Adjacent TEST --*/
#adjgeneral{
    border:solid black 2px;
    background-color:cornflowerblue;
}
#adjgeneral ~ p{
    background-color: red;
}

        /*-- Simple attribute selector TEST --*/
#simple-attr a[title]{
    background-color: white;
}

        /*-- attribute selector with value TEST --*/
#value-attr a[title="W3S"]{
    background-color: white;
}

        /*-- attribute selector [attr|="val"] --*/
#start-value-attr a[title|="W3"]{
    background-color: white;
}

        /*-- attribute selector [attr^="val"] --*/
#begin-value-attr a[title^="W3"]{
    background-color: white;
}

        /*-- attribute selector [attr$="val"] --*/
#ending-value-attr a[title$="School"]{
    background-color: white;
}

        /*-- attribute selector [attr~="val"] --*/
#cont-value-attr a[title~="School"]{
    background-color: white;
}

        /*-- attribute selector [attr*="val"] --*/
#contt-value-attr a[title*="School"]{
    background-color: white;
}

        /*-- class attribute with multiple values TEST --*/
.multiple1{
    width: 50%;
    background-color: orange;
    padding: 15px;
    margin: auto;
    border: 1px black solid;
}
.multiple2{
    color: red;
    font-weight: bold;
    text-decoration: underline;
}
.multiple3{
    box-shadow: 2px 2px 5px 10px green;
}

        /*-- attribute selector with the "case-insensitive" flag TEST --*/
[class="demo" i] {
    color: green;
}
[class*="de" i] {
    font-weight: bold;
}



