        /* The scrollbar-width property */

[class|=scrollbarWidth] {
    display: inline-block;
    margin: 5px;
    background-color: beige;
    width: 200px;
    height: 300px;
    overflow-y: auto;
}

.scrollbarWidth-auto {
    scrollbar-width: auto;
}

.scrollbarWidth-thin {
    scrollbar-width: thin;
}

.scrollbarWidth-none {
    scrollbar-width: none;
}


        /* The scrollbar-width property */
.scrollbarColor {
    margin: 5px;
    background-color: beige;
    width: 200px;
    height: 300px;
    overflow-y: auto;
    scrollbar-color: #007 #bada55;
}


        /* The scrollbar-gutter property */
[class|=scrollbarGutter] {
    display: inline-block;
    margin: 5px;
    background-color: beige;
    width: 200px;
    height: 300px;
    overflow: auto;
}

.scrobarGutter-auto {
    scrollbar-gutter: auto;
}

.scrollbarGutter-stable {
    scrollbar-gutter: stable;
}

.scrollbarGutter-stable-both-edges {
    scrollbar-gutter: stable both-edges;
}


        /* The scrollbar-snap-type & scroll-snap-align properties */
.scrollSnapCont {
    border: solid 3px blue;
    width: 60%;
    margin: auto;
    height: 200px;
    overflow-x: scroll;
    scroll-snap-type: y mandatory;
}

.scrollSnapCont > .even {
    background-color: beige;
    height: 170px;
    scroll-snap-align: start;
    margin-top: 5px;
}

.scrollSnapCont > .odd {
    background-color: lightblue;
    height: 170px;
    scroll-snap-align: start;
    margin-top: 5px;
}


.scrollSnapCont2 {
    border: solid 3px blue;
    width: 60%;
    margin: auto;
    height: 200px;
    overflow-x: scroll;
    scroll-snap-type: y proximity;
}

.scrollSnapCont2 > .even {
    background-color: beige;
    height: 170px;
    scroll-snap-align: start;
    margin-top: 5px;
}

.scrollSnapCont2 > .odd {
    background-color: lightblue;
    height: 170px;
    scroll-snap-align: start;
    margin-top: 5px;
}


        /* The scrollbar-snap-stop property */
.scrollSnapStop {
    border: solid 3px blue;
    width: 60%;
    margin: auto;
    height: 200px;
    overflow-x: scroll;
    scroll-snap-type: y mandatory;
}

.scrollSnapStop > .even {
    background-color: beige;
    height: 170px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    margin-top: 5px;
}

.scrollSnapStop > .odd {
    background-color: lightblue;
    height: 170px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    margin-top: 5px;
}


        /* The scrollbar-snap-stop property */
html {
    scroll-behavior: smooth;
}

#one {
    background-color: lightblue;
    height: 150px;
}

#two {
    background-color: beige;
    height: 150px;
}


        /* The scrollbar-margin-* VS scroll-padding-* properties */
.scrollMargin {
    border: solid 3px blue;
    width: 60%;
    margin: auto;
    height: 200px;
    overflow-x: scroll;
    scroll-snap-type: y mandatory;
}

.scrollMargin > .even {
    background-color: beige;
    height: 170px;
    scroll-snap-align: start;
    scroll-margin-top: 20px;
}

.scrollMargin > .odd {
    background-color: lightblue;
    height: 170px;
    scroll-snap-align: start;
    scroll-margin-top: 20px;
}


.scrollPadding {
    border: solid 3px blue;
    width: 60%;
    margin: auto;
    height: 200px;
    overflow-x: scroll;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 20px;
}

.scrollPadding > .even {
    background-color: beige;
    height: 170px;
    scroll-snap-align: start;
}

.scrollPadding > .odd {
    background-color: lightblue;
    height: 170px;
    scroll-snap-align: start;
}


        /* The overscroll-behaviour-* property */
.overScroll {
    background-color: beige;
    border: solid 3px blue;
    width: 60%;
    margin: auto;
    height: 200px;
    overflow-y: scroll;
}

.overScroll > div {
    background-color: lightblue;
    display: inline-block;
    border: solid 3px green;
    width: 40%;
    margin: auto;
    height: 150px;
    overflow: scroll;
}

.overScroll > div:first-child {
    overscroll-behavior-y: auto;
}

.overScroll > div:nth-child(2) {
    overscroll-behavior-y: none;
}