        /*-- animation event demo --*/
.animation-parent{
    width: 750px;
    height: 30px;
    background-color: darkseagreen;
    border: solid black 3px;
    position: relative;
}
#animation-child{
    width: 28px;
    height: 28px;
    background-color: orange;
    border: solid 1px black;
    position: absolute;
    left: 0;
}
@keyframes JSmove{
    from {left: 0;}
    to {left: 720px;}
}

        /*-- animation property demo --*/
@keyframes myAnimation {
    from {color:red;}
    50% {color:white;}
    to {color:green;}
}

        /*-- transition event demo --*/
#hover-demo{
    border: 2px solid black;
    height: 60px;
    width: 400px;
    background-color: orange;
    transition: width 0.5s linear;
}
#hover-demo:hover{
    width: 100%;
    cursor: pointer;
}



