
    /* -- inline VS block VS inline-block table --*/
.displaydemo{
    width: 30%;
    height: 250px;
    float: left;
    margin-left: 2%;
    border: 2px black solid;
    background-color: darkgoldenrod;
}
#disp {
    background-color: yellow;
    border: solid 2px red;
    height: 70px;
    padding: 10px;
    margin: 10px;
}
    
        /*-- position summary table --*/
.positionTable {
    border: solid 2px black;
    border-collapse: collapse;
    background-color: #4b4b4b;
    color: white;
    margin: auto;
}
.positionTable th, .positionTable td {
    border: solid 1px black;
    padding: 5px;
    text-align: center;
}
    
        /*-- display:inline TEST --*/
#blockParent {
    background-color: burlywood;
}
#inline1{
    background-color: coral;
    margin: 50px;
    padding: 20px;
    border: solid 2px red;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    width: 500px;
    height: 500px;
}

        /*-- display:bolck TEST --*/
#div_block{
	background-color: green;
    color: orange;
	padding: 25px;
    margin: auto;
    width: 50%;
    height: 45px;
}

    /*-- display:inline-block TEST --*/
#inline-block1{
    display: inline-block;
    background-color: coral;
    margin: 20px;
    padding: 20px;
    border: solid 2px red;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    width: 500px;
    height: 100px;
}
    
        /*-- inline:block horizontal menu TEST --*/
.menu{
    display:inline-block;
    background-color:cyan;
    padding:40px;
    margin:3px;
    border:solid forestgreen;
}
    
        /*-- display:list-item TEST --*/  
[class|=list-display] {
    float: left;
    margin-left: 20px;
}
.list-display-ordered div {
    display: list-item;
}
.list-display-unordered div {
    display: list-item;
}
    
    /*-- make a table from ordinary elements --*/
.table_{
    display: table;
    width: 350px;
    caption-side: bottom;
    margin: auto;
}
.table_-colgroup{
    display: table-column-group;
}
.table_-colgroup div{
    display: table-column;
}
.table_-caption{
    display: table-caption;
    text-align: center;
    background-color: white;
    font-size: 1.5em;
}
.table_-row{
    display: table-row;
}
.table_-row div{
    display: table-cell;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
.table_-head{
    display: table-header-group;
    font-size: 2em;
    font-weight: bold;
    color: white;
}
.table_-body{
    display: table-row-group;
    font-size: 1.6em;
    font-weight: bold;
    color: green;
}
.table_-footer{
    display: table-footer-group;
    font-size: 1.2em;
    color: red;   
}
 
        /*-- display:none; TEST --*/
.removed_ { display: none; }
    
        /*-- display:contents; TEST --*/
.remTest {
    width: 400px;
    height: 50px;
    background-color: lightseagreen;
    border: solid 2px black;
    margin: 5px;
}
.remTest > p {
    background-color: lightgoldenrodyellow;
}

        /*-- visibility:collapse; TEST --*/
.collapseTable {
    border: solid 1px black;
    width: 500px;
}
.collapseTable th, .collapseTable td {
    text-align: center;
    border: 1px solid black;
}
    
        /*-- psition:static; TEST --*/
#static{
    position:static;
    background-color:yellow;
    border:2px solid black;
    padding:2px;
    left: 100px;
}
    
        /*-- position:relative TEST --*/
#relative{
    position:relative;
    background-color:yellow;
    border:2px solid black;
    padding:5px;
    left:250px;
    top: 10px;
    max-width:700px;
}
    
        /*-- position:fixed; TEST --*/
#fixed{
    position:fixed;
    background-color:yellow;
    border:2px solid black;
    padding:5px;
    top:10px;
    right:10px;
    width:400px;
    z-index:1;
}
    
        /*--fixed deep TEST --*/
.fixedCont {
    border: solid 1px black;
    width: 400px;
    height: 200px;
}
.fixedCont > div {
    border: solid 1px black;
    width: 350px;
    height: 150px;
}
.fixedCont > div > div {
    border: solid 1px black;
    width: 300px;
    height: 100px;
}
#deepFix{
    position:fixed;
    background-color:yellow;
    border:2px solid black;
    padding:5px;
    top:40px;
    right:10px;
    width:400px;
    z-index:1;
}
    
        /*-- position:absolute: TEST --*/
#absolute{
    position:relative;
    border:solid 2px black;
    width:300px;
    height:100px;
}
#absolute div {
    position:absolute;
    background-color:yellow;
    border:2px solid black;
    padding:5px;
    top:10px;
    right:10px;
    width:auto;
    height: auto;
}
    
        /*-- position:sticky; TEST --*/
.parentSticky {
    width: 20%;
    height: 800px;
    border: solid black 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.siblingSticky {
    width: 100%;
    height: 100px;
    background-color: orange;
    border: solid 10px red;
    display: inline-block;
    flex: 50 0 1px;
    box-sizing: border-box;
}
.Istick {
    flex-grow: 1;
    border: solid 10px green;
    box-sizing: border-box;
    position: sticky;
    bottom: 10px;
    top: 10px;
}

        /*-- position:sticky relative position when not sticked TEST --*/
.stickCont {
    width: 500px;
    height: 200px;
    border: solid 3px black;
    margin: auto;
}
#posRelative {
    position: relative;
    left: 50px;
    top: 50px;
    width: 50px;
    height: 50px;
    background-color: darkblue;
}
#posSticky {
    position: sticky;
    position: -webkit-sticky;
    left: 50px;
    top: 50px;
    width: 50px;
    height: 50px;
    background-color: darkblue;
}
    
        /*-- float TEST --*/
.floatBox {
    width: 50px;
    height: 50px;
    border: solid 1px black;
    background-color: orange;
    float: left;
}
.myDiv{
    width: 200px;
    height: 100px;
    border: solid 1px black;
    background-color: lightblue;
}

        /*-- left and right floating elements affect each other TEST --*/
.floatParent {
    width: 500px;
    height: 250px;
    border: solid 2px black;
    background-color: lightblue;
}
.floatLeft {
    background-color: orange;
    width: 50px;
    height: 50px;
    border: solid 1px black;
    float: left;
}
.floatRight {
    background-color: orange;
    width: 50px;
    height: 50px;
    border: solid 1px black;
    float: right;
}
    
    /*-- clear TEST--*/
.float_A {
    width: 50px;
    height: 50px;
    border: solid 1px black;
    background-color: orange;
    float: left;
}
.float_B {
    width: 50px;
    height: 50px;
    border: solid 1px black;
    background-color: orange;
    float: left;
    clear: left;
}
.float_C {
    width: 50px;
    height: 50px;
    border: solid 1px black;
    background-color: orange;
    float: left;
}
.myDiv_{
    width: 200px;
    height: 100px;
    border: solid 1px black;
    background-color: lightblue;
    clear: left;
}
    
        /*-- clear property with inline element TEST --*/
.floatIn {
    width: 50px;
    height: 50px;
    border: solid 1px black;
    background-color: orange;
    float: left;
}
#floatIn_after {
    clear: left;
}
    
        /*-- float DEMO --*/
div#leftflowtext{
    border: solid black 2px;
    width: 45%;
    height: 85%;
    background-color: aquamarine;
    position: absolute;
    left: 0px;
    top: 0px;
    margin-left: 3%;
    margin-top: 25px;
}
img#imgfloatleft{
    float: left;
    margin: 0 10px 10px 10px;
}
div#rightflowtext{
    border: solid black 2px;
    width: 45%;
    height: 85%;
    background-color: aquamarine;
    position: absolute;
    right: 0px;
    top: 0px;
    margin-right: 3%;
    margin-top: 25px;
}
img#imgfloatright{
    float: right;
    margin: 0 10px 10px 10px;
}
div#main{
    border: solid black 2px; 
    max-width: 100%;
    position: relative;
    height: 330px;
    background-color: darkmagenta;
}
    
        /*-- clear DEMO --*/
div#squareone{
    width: 100px;
    height: 100px;
    border: solid blue 4px;
    float: left;
}
div#squaretwo{
    border: red solid 7px;
    font-size: 2.0em;
    font-family: Arial, Verdana, sans-serif;
}
div#squarethree{
    border: red solid 7px;
    font-size: 2.0em;
    font-family: Arial, Verdana, sans-serif;
    clear: left;
}




