html{
    background-color:darkgray;
    font-family:arial, sans-serif;
}
p#sitenav{
    background-color: forestgreen;
}
pre, mark{
    background-color: white;
}
ul#menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 40px;
    background-color: grey;
    width: 100%;
    position:fixed;
    top:0;
}
ul#menu li{
    float: left;
}
ul#menu li#right{
    float: right;
}
ul#menu li a{
    display: block;
    padding: 12px;
    text-decoration: none;
    color: black;
    font-weight: 700;
}
ul#menu li a#active{
    background-color: cornflowerblue;
}
ul#menu li a:hover:not(#active):not(#right){
    background-color: chartreuse;
}
ul#menu li a#right{
    background-color: darkcyan;
}