        /*-- grid-template-columns TEST --*/
.gridCont_1 {
    width: 500px;
    height: 250px;
    background-color: blueviolet;
    padding: 7px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 5px;
    grid-row-gap: 2px;
}
.gridCont_1 div {
    display: flex;
    background-color: lightcoral;
    border: solid 2px black;
    font-size: 3rem;
    padding: 4px;
}

.gridCont_2 {
    width: 500px;
    height: 250px;
    background-color: blueviolet;
    padding: 7px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 7px;
}
.gridCont_2 div {
    display: flex;
    background-color: lightcoral;
    border: solid 2px black;
    font-size: 3rem;
    padding: 4px;
}
      
        /*-- sizing with fr(fraction) unit TEST --*/
.gridCont_3 {
    width: 1000px;
    height: 200px;
    background-color: blueviolet;
    padding: 7px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1.5fr .5fr 0.3fr;
    grid-gap: 7px;
}
.gridCont_3 div {
    display: inline-block;
    background-color: lightcoral;
    border: solid 2px black;
    font-size: 1rem;
    padding: 4px;
}

        /*-- sizing with min-content and max-content TEST --*/
.gridCont_4 {
    width: 1000px;
    height: 200px;
    background-color: blueviolet;
    padding: 7px;
    display: grid;
    grid-template-columns: min-content max-content;
    grid-template-rows: min-content min-content max-content;
    grid-gap: 7px;
}
.gridCont_4 div {
    display: inline-block;
    background-color: lightcoral;
    border: solid 2px black;
    font-size: 1rem;
    padding: 4px;
}
    
        /*-- sizing with minmax() TEST --*/
.gridCont_5 {
    width: 1000px;
    height: 200px;
    border: solid 5px brown;
    background-color: blueviolet;
    padding: 7px;
    display: grid;
    grid-template-columns: 100px minmax(100px, 700px) 100px;
    grid-gap: 5px;
    overflow: auto;
    resize: horizontal;
}
.gridCont_5 div {
    display: inline-block;
    background-color: lightcoral;
    border: solid 2px black;
    font-size: 1rem;
    padding: 4px;
}
    
        /*-- repeat function TEST --*/
.gridCont_6 {
    width: 1000px;
    height: 100px;
    border: solid 5px brown;
    background-color: blueviolet;
    padding: 7px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: auto;
    resize: horizontal;
}
.gridCont_6 div {
    display: inline-block;
    background-color: lightcoral;
    border: solid 2px black;
    font-size: 1rem;
    padding: 4px;
}
    
.gridCont_6_autoFill {
    width: 1000px;
    height: 100px;
    border: solid 5px brown;
    background-color: blueviolet;
    padding: 7px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    overflow: auto;
    resize: horizontal;
}
.gridCont_6_autoFill div {
    display: inline-block;
    background-color: lightcoral;
    border: solid 2px black;
    font-size: 1rem;
    padding: 4px;
}
    
.gridCont_6_autoFit {
    width: 1000px;
    height: 100px;
    border: solid 5px brown;
    background-color: blueviolet;
    padding: 7px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    overflow: auto;
    resize: horizontal;
}
.gridCont_6_autoFit div {
    display: inline-block;
    background-color: lightcoral;
    border: solid 2px black;
    font-size: 1rem;
    padding: 4px;
}
    
        /*-- repeat() multiple columns TEST --*/
.gridCont_7 {
    width: 1000px;
    height: 100px;
    border: solid 5px brown;
    background-color: blueviolet;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(2, 25px 75px 1fr 1.3fr);
    grid-column-gap: 2px;
    overflow: auto;
    resize: horizontal;
}
.gridCont_7 div {
    display: inline-block;
    background-color: lightcoral;
    border: solid 2px black;
    font-size: 1rem;
    padding: 4px;
}
    
        /*-- fit-content() TEST --*/
.gridCont_8 {
    width: 1000px;
    height: 100px;
    border: solid 5px brown;
    background-color: blueviolet;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(3, fit-content(150px)) 1fr;
    grid-column-gap: 2px;
    overflow: auto;
    resize: horizontal;
}
.gridCont_8 div {
    display: inline-block;
    background-color: lightcoral;
    border: solid 2px black;
    font-size: 1rem;
    padding: 4px;
}
    
        /*-- grid-auto-columns / grid-auto-rows TEST --*/
.gridAuto {
    width: 500px;
    height: 250px;
    border: solid 5px brown;
    background-color: blueviolet;
    padding: 5px;
    display: grid;
    grid-template-areas: 'a a a';
    grid-auto-columns: 150px;
    grid-auto-rows: 50px;
    grid-gap: 2px;
}
.gridAuto div {
    display: inline-block;
    background-color: lightcoral;
    border: solid 2px black;
}
    
        /*-- grid-column-gap / grid-row-gap / grid-gap TEST --*/
.gridGap {
    width: 600px;
    height: 200px;
    padding: 5px;
    background-color: blueviolet;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
}
.gridGap div {
    background-color: lightcoral;
    border: solid 1px black;
}
.gG1 { grid-column-gap: 5px; }
.gG2 { grid-row-gap: 5px; }
.gG3 { grid-gap: 5px; }
    
        /*-- grid-column-start TEST --*/
.gridArange_1 {
    width: 500px;
    height: 150px;
    border: solid 5px brown;
    background-color: blueviolet;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, 33%);
    grid-gap: 2px;
}
.gridArange_1 div {
    background-color: lightcoral;
    border: solid 2px black;
}
    
        /* -- grid-column-start test with ared identifers --*/
.gridArange_2 {
    width: 500px;
    height: 150px;
    border: solid 5px brown;
    background-color: blueviolet;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, 33%);
    grid-gap: 2px;
    grid-template-areas: 'a1 a2 a3'
                         'b1 b2 b3'
                         'c1 c2 c3';
}
.gridArange_2 div {
    background-color: lightcoral;
    border: solid 2px black;
}
        /* -- grid-column-start test with area identifers TEST2 --*/
.gridArange_3 {
    width: 500px;
    height: 150px;
    border: solid 5px brown;
    background-color: blueviolet;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2px;
    grid-template-areas: 'titleL title title title titleR'
                         'side1 . . . .'
                         'side2 . main main main'
                         'side2 . main main main';
}
.gridArange_3 div {
    background-color: lightcoral;
    border: solid 2px black;
}
    
        /*-- gib test all placing properties --*/
.gridArange_bigTest {
    width: 500px;
    height: 350px;
    border: solid 5px brown;
    background-color: blueviolet;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 2px;
    grid-template-areas: 'tl tl . tm tm tm . tr tr'
                         'tl tl . tm tm tm . tr tr'
                         '.  .  c c  c  c  c .  . '
                         'ml ml c c  c  c  c mr mr'
                         'ml ml c c  c  c  c mr mr'
                         '.  .  c c  c  c  c .  . ';
}
.gridArange_bigTest div {
    background-color: lightcoral;
    border: solid 2px black;
}
    
        /*-- grid items overlap each other TEST --*/
.gridOverlap {
    width: 500px;
    height: 250px;
    border: solid 5px brown;
    background-color: white;
    padding: 5px;
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 100px 1fr;
    grid-gap: 2px;
    overflow: auto;
    resize: both;
}
.gridOverlap div {
    border: solid 2px black;
}
    
        /*-- little responsive layout TEST --*/
.littleLayout {
    width: 500px;
    height: auto;
    border: solid 2px black;
    background-color: darkblue;
    padding: 2px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2px;
    overflow: auto;
    resize: horizontal;
}
.littleLayout div:first-child {
    color: white;
    font-size: 2em;
    white-space: nowrap;
}
.littleLayout div:last-child {
    color: white;
    font-size: 2em;
    direction: rtl;
}
    
        /*-- grid-auto-flow TEST --*/
.autoFlow {
    width: 460px;
    height: 250px;
    border: solid 2px black;
    background-color: lightcyan;;
    padding: 2px;
    display: grid;
    grid: repeat(10, 20px) / repeat(10, 20px);
    grid-gap: 3px;
    grid-auto-flow: row;
}
.autoFlow div {
    background-color: lightseagreen;
    border: solid 1px black;
}
.autoFlow div:nth-child(6n) {
    background-color: orange;
    grid-row-start: span 3;
}
.autoFlow div:nth-child(9n) {
    background-color: orange;
    grid-column-start: span 3;
}
div.positioned {
    background-color: violet;
    grid-area: 4/3/7/5;
}
.controls {
    list-style-type: none;
    padding-left: 5px;
}
.controls li {
    padding: 3px 0;
    font-size: 1.2rem;
}

        /*-- gird-template TEST-1 --*/
.grTemp {
    width: 300px;
    height: 200px;
    background-color: lightgoldenrodyellow;
    float: left;
    margin: 5px;
    display: grid;
    padding: 4px;
    grid-gap: 4px;
}
.grTemp div {
    border: 1px black solid;
    background-color: lightsalmon;
}
.grT1 {
    grid-template: repeat(3, 50px) / repeat(3, 75px);
    grid-template-areas: 'h h h'
                         's c c'
                         's c c';
}
.grT2 {
    grid-template: 'h h h' 
                   's c c' 
                   's c c';
    grid-template-rows: repeat(3, 50px);
    grid-template-columns: repeat(3, 75px);
}
.grT3 {
    grid-template: 'h h h' 50px
                   's c c' 50px
                   's c c' 50px / 
                   75px 75px 75px;
}
    
        /*-- grid TEST --*/
.griD {
    width: 300px;
    height: 200px;
    background-color: lightgoldenrodyellow;
    margin: 5px;
    padding: 4px;
    display: grid;
    grid-gap: 4px;
}
.griD div {
    border: 1px black solid;
    background-color: lightsalmon;
}
.grd1 { grid: repeat(2, 1fr) / 100px 1fr; }
.grd2 { grid: repeat(2, 1fr) / auto-flow 50px; }
.grd3 { grid: auto-flow dense 25px/ repeat(2, 75px); }
    
        /*-- justify-content / align-content / place-content TEST --*/
.contTest {
    background-color:orange;
    display: grid;
    grid: repeat(3, 50px) / repeat(3, 50px);
}
.contTest div {
    border: solid 1px black;
    background-color: green;
}

        /*-- align-items TEST --*/
.alignItms {
    width: 300px;
    height: 200px;
    background-color: orange;
    border: solid 1px black;
    display: grid;
    grid: repeat(3, 1fr) / repeat(3, 1fr);
}
.alignItms div {
    border: solid 1px black;
    background-color: green;
 }
.jstI1 { align-items: stretch; }
.jstI2 { align-items: start; }
.jstI3 { align-items: end; }
.jstI4 { align-items: center; }
    
        /*-- justify-items TEST --*/
.jstfItms {
    width: 300px;
    height: 150px;
    background-color: orange;
    border: solid 1px black;
    display: grid;
    grid: repeat(3, 1fr) / repeat(3, 1fr);
}
.jstfItms div {
    border: solid 1px black;
    background-color: green;
}
.just2 { justify-items: start; }
.just3 { justify-items: end; }
.just4 { justify-items: center; }
    
        /*-- place-items TEST --*/
.placeItms {
    width: 300px;
    height: 150px;
    background-color: orange;
    border: solid 1px black;
    display: grid;
    grid: repeat(3, 1fr) / repeat(3, 1fr);
    place-items: end center;
}
.placeItms div {
    border: solid 1px black;
    background-color: green;
}
    
        /*-- justify-self TEST --*/
.justSelf {
    width: 300px;
    height: 150px;
    background-color: orange;
    border: solid 1px black;
    display: grid;
    grid: repeat(2, 1fr) / repeat(2, 1fr);
}
.justSelf div {
    border: solid 1px black;
    background-color: green;
}
    
        /*-- align-self TEST --*/
.algSelf {
    width: 300px;
    height: 150px;
    background-color: orange;
    border: solid 1px black;
    display: grid;
    grid: repeat(2, 1fr) / repeat(2, 1fr);
}
.algSelf div {
    border: solid 1px black;
    background-color: green;
}
    
        /*-- place-self TEST --*/
.plcSelf {
    width: 300px;
    height: 150px;
    background-color: orange;
    border: solid 1px black;
    display: grid;
    grid: repeat(2, 1fr) / repeat(2, 1fr);
}
.plcSelf div {
    border: solid 1px black;
    background-color: green;
}

