html{
    background-image: url(Image/background.jpg);
    margin: 0;
}
body{
    margin: 0;
}
        /*--font face--*/
@font-face{
    src: url(Font/Roboto/Roboto-Regular.ttf);
    font-family: myfont1;
}

        /*--profil type--*/
.container_1{
    width: 1000px;
    height: 13px;
    position: relative;
    margin: auto;
}
.profil_type{
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
    right: 0;
    position: absolute;
}
.profil_type li{
    float: left;
    text-align: center;
    box-sizing: border-box;
}
.profil_type li.active a{
    background-color: #d10101;
}
.profil_type li:not(.active){
    border-left: dotted white 1px;
}
.profil_type li a{
    font-family: myfont1;
    padding: 10px 5px;
    width: 100px;
    margin:none;
    text-decoration:none;
}
.profil_type li a:link{
    color: white;
}
.profil_type li a:visited{
    color: white;
}
.profil_type li a:hover{
    background-color: #c92d2d;
}
.profil_type li.active a:hover{
    background-color: #d10101;
}
        /*--header--(1)*/
header{
    position: relative;
    background-color: #d10101;
    top: 25px;
    margin: auto;
    max-width: 1280px;
    height: 250px;
}
.header_child{
    border: 1px solid black;
    position: relative;
    width: 1000px;
    height: 250px;
    margin: 0 auto;
    padding: 0;
    background-color: 
}
.site_logo{
    float: left;
    display: inline;
    width: 80px;
    border: 1px solid black;
}
.search{
    float: right;
    width: 500px;
    height: 50px; 
    border: 1px solid black;
}
.main_menu{
    float: right;
    display: inline;
    margin: 0;
    width: 800px;
    height: 50px; 
    border: 1px solid black;
}
        /*--search field--(3)*/
.search p{
    display: inline-block;
}
.search form{
    display: inline-block;
    border-left: white dotted 1px;
    padding-left: 20px;
}
.search form [type=text]{
    border: solid #270000 1px;
    border-radius: 15px;
    padding-left: 6px;
    height: 18px;
    width: 170px;
}
.search form [type=text]:focus{
    outline: none;
}
.search form [type=submit]{
    background: transparent url(Image/Sprite.png) -3px -3px;
    height: 22px;
    width: 33px;
    border-radius: 15px;
    border: solid #270000 1px;
    transform: translate(-18px, 5px);
}
.search form [type=submit]:hover{
    cursor: pointer;
}
.search form [type=submit]:active{
    outline: none;
}