    /*-- box-shadow TEST --*/
.boxShadow {
    width: 300px;
    height: 40px;
    border: 1px solid black;
    background-color: burlywood;
    margin: 1.2em 1em;
}
.sh1 {
    box-shadow: 5px 5px red;
}
.sh2 {
    box-shadow: 0 0 4px 5px red;
}
.sh3 {
    box-shadow: -5px -5px red, 5px 5px blue;
}
.sh4 {
    box-shadow: 5px 5px 10px 7px red inset;
}

    /*-- ::after pseudo class inserted shadow --*/
.secondsw{
    position: relative;
    background-color: lightgoldenrodyellow;
    padding: 7px;
    margin: auto;
    width: 30%;
    box-shadow: 0 0 10px 1px black;
}
.secondsw > img{
    width: 100%;
    border: 1px solid grey;
    border-style: inset;
}
.secondsw::after{
    content: "000";
    background-color: white;
    position: absolute;
    height: 80%;
    bottom: 10%;
    left: 0px;
    box-shadow: -5px 0 40px 5px black;
    z-index: -1;
}
.secondsw::after{
    content: "000";
    background-color: white;
    position: absolute;
    height: 80%;
    bottom: 10%;
    right: 0px;
    box-shadow: -5px 0 40px 5px black;
    z-index: -1;
}
