#code {
    width: 500px;
    height: 200px;
    resize: none;
    border: ridge blue 3px;
    padding-left: 5px;
}
#code + * + button {
    color: green;
    padding: 0 40px;
    height: 40px;
    font-weight: bold;
}

        /* Conway's Game Of Life */
table#conway {
    border-collapse: collapse;
}
#conway td {
    border: solid 2px black;
    width: 20px;
    height: 20px;
    background-color: darkgray;
}
button[onmouseup="runGame()"] {
    color: green;
    padding: 0 50px;
    font-size: 1.3em;
    font-weight: bold;
}
button[onmouseup="stopGame()"] {
    color: red;
    padding: 0 50px;
    font-size: 1.3em;
    font-weight: bold;
}
button[onmouseup="generateRandomPattern()"] {
    color: darkorange;
    padding: 0 50px;
    font-size: 1.3em;
    font-weight: bold;
}