html{
    background-color:darkgray;
    font-family:arial, sans-serif;
}
.sitenav{
    background-color: forestgreen;
}
mark, pre{
    background-color: white;
}
details{
    background-color: lightgreen;
}
.important-link:link, .important-link:visited {
    color:yellow;
}
.important-link:active, .important-link:hover{
    background-color:white;
    color:yellow;
}
    /*-- CSS Play --*/
.flexbox{
    font-size: 2.1em;
    text-align: center;
    text-decoration: underline;
    color: white;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    align-content: space-around;
    width: 80%;
    height: 300px;
    background: orange;
    margin: auto;
    border: solid black 2px;
}
.flex div{
    width: 70px;
    height: 70px;
    background: red;
    border: solid black 1px;
    margin: 0 50px;
    flex-grow: 1;
}
.flex div:nth-last-child(2){
    width: 150px;
    height: 100px;
    background-color: green;
    display:flex;
    order: 2;
}
.flex div:nth-child(3) p{
    margin: auto;
    color: yellow;
}
.flex div:not(#select){
    color: white;
}
.flex div:nth-child(4){
    align-self: flex-start;
    order: 1;
}
    /*- Flexbox 2 -*/
.menu{
    width: 200px;
    height: 300px;
    background-color: white;
    border: solid black 2px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.menu div{
    border: solid black 1px;
    background-color: red;
    flex-grow: 1;
    margin: 2px;
}
.menu div:nth-child(2){
    background-color: green;
    flex-grow: 2;
}
    /*- Flexbox 3 -*/
.width-flex{
    border: solid black 1px;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
}
.width-flex div{
    flex-grow: 1;
    background-color: white;
    display: flex;
    width: 510px;
}
.width-flex div div{
    margin: 2px;
    background-color: orange;
    height: 50px;
    border: solid black 1px;
    flex: 1 0 250px; 
}
.width-flex div div:nth-child(1){
    flex-shrink: 1;
}
    /*-- CSS Selector Training --*/
.selectors{
    border: solid black 1px;
    padding: 5px;
}
.selectors > p{
    color: red;
}
.selectors p{
    text-decoration: underline;
}
.selectors p[class~=sel]{
    color: white;
}
.selectors p:only-child,
.selectors i:only-of-type{
    color: blue;
}
.selectors ~ *{
    color: green;   
}
.selectors + p,
.selectors + p + p{
    color: red;
    font-weight: bold;
}
        /*-- Background --*/
.background div{
    float: left;
    margin: 5px;
    width: 150px;
    height: 150px;
    border: 2px solid black;
}
.background div:first-child{
    background: linear-gradient(red 33%, white 33%, white 66%, green 66%);
}
.background div:nth-child(2){
    width: 200px;
    background: radial-gradient(closest-corner at 80% 80%, white, red, green);
}
.background div:nth-child(3){
    border-width: 15px;
    border-color: rgba(0,0,0,0.3);
    width: 350px;
    height: 300px;
    background: url(tileBackground.jpg);
    background-repeat: no-repeat;
    background-origin: border-box;
}
.background div:nth-child(3) p{
    margin: 10px;
    border: 1px black solid;
    font-size: 3em;
    margin: auto;
}
        /*-- HTML Table --*/
.orarend, .orarend tr th, .orarend tr td{
    empty-cells: hide;
    border-spacing: 5px;
    border: solid black 1px;
    padding: 5px;
    text-align: center;
    caption-side: bottom;
}
.orarend tr td{
    cursor: pointer;
}
.orarend{
    margin: auto;
    border: double black 5px;
    background: radial-gradient(white 50%, black);
}
.orarend caption{
    font-size: 2em;
    font-weight: bold;
}
.orarend tr td:first-child{
    font-weight: bold;
}
.orarend tr:first-child{
    color: white;
    background-color: darkorange;
}
.orarend tr td[colspan]{
    font-weight: bold;
}
        /*-- Handle white space --*/
[class^="text"]{
    width: 175px; 
    margin: auto; 
    border: solid black 3px; 
    height: 200px; 
    background-color: white;
    float: left;
    margin: 5px 35px;
}
[class$="-1"]{
    word-wrap: break-word;
}
[class$="-2"]{
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}
[class$="-3"]{
    white-space: pre;
}
[class$="-4"]{
    white-space: pre-line;
}
[class$="-5"]{
    white-space: pre-wrap;
}