    
        /*-- inheritage TEST --*/
#inheritage {
    color: green;
    border: solid 2px black;
}

        /*-- initial / revert TEST --*/
.div_1{
    border: solid 2px black;
    height: 50px;
    background-color: orange;
    display: initial;
}
.div_2{
    border: solid 2px black;
    height: 50px;
    background-color: orange;
    display: revert;
}

        /*-- inherit TEST --*/
.div_3{
    border: solid 2px black;
    height: 50px;
    background-color: orange;
}
.div_3 div{
    border: inherit;
    height: 20px;
    background-color: green;
}

        /*-- unset TEST --*/
.div_4{
    border: solid 2px black;
    height: 50px;
    background-color: orange;
    display: unset;
}
.div_5{
    border: solid 2px black;
    height: 50px;
    background-color: orange;
}
.div_5 div{
    border: black 1px solid;
    height: 20px;
    background-color: unset;
}

@supports ((not (newProp:newVal)) and (caret-color:initial)) or (text-decoration-line:underline) { 
    #demo{ color:green } 
}


.d1{
    border: solid 2px black;
    height: 50px;
    background-color: orange;
    display: initial;
}
.d2{
    border: solid 2px black;
    height: 50px;
    background-color: orange;
    display: revert;
}
.d2 div{
    border: inherit;
    height: 20px;
    background-color: green;
}

