body {
	background-color:black;
	
}
h1{
	text-align:center;
	font-size:26px;
	text-decoration:underline;
	font-family:arial;
	color:gold;
}
table, th, td{
	border:1px solid gold;
	border-collapse:collapse;
	padding:15px;
	color:white;
	text-align:center;
}
colspan{
	color:red;
	text-align:center;
	font-size:30px
}
td.main{
	color:yellow;
	text-decoration:underline;
	padding:18px;
	
	
}