.sct {
    color: #6532c4;
    font-weight: bold;
}
.opposite {
    color: #bfa504;
    font-weight: bold;
}
.adjacent {
    color: #576fa1;
    font-weight: bold;
}
.hypotenuse {
    color: #cf751a;
    font-weight: bold;
}