        /*-- set table first column center --*/
.precedence tr td:first-child {
    text-align: center;
}

        /*-- binary output --*/
.binary-output{
    list-style: none;
    margin: 0;
    padding: 0;
}
.binary-output li{
    display: inline;
}
.binary-output li:nth-child(2n+2){
    font-weight: bold;
}
