/*-----------------------------------------------------------*/
/*-- bootstraps ---------------------------------------------*/
.indent-lv1 { text-indent: 30px }
.indent-lv2 { text-indent: 60px }
.indent-lv3 { text-indent: 90px }
.indent-lv4 { text-indent: 120px }
.indent-lv5 { text-indent: 150px }
.indent-lv6 { text-indent: 180px }
.indent-lv7 { text-indent: 210px }

.no-margin {
    margin: 0;
}

/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
html{
    background-color:darkgray;
    font-family:arial, sans-serif;
}

#sitenav, .sitenav{
    background-color: forestgreen;
    margin: 8px 0;
}

mark{
    background-color:white;
}

mark.mark {
    background-color: lightslategray;
}

pre{
    background-color:#f5f2e7;
}

.headerSection {
    text-decoration: underline;
    color: green;
}

.header {
    text-decoration: underline;
    color: darkblue;
}

.headerExtra {
    text-decoration: underline;
    background-color: orange;
}

.syntax {
    background-color: #4b4b4b;
    color: white;
}

/*-----------------------------------------------------------*/
/*-- color syntax characters --------------------------------*/
.syntax i:not([class^="fa"]), .formula i, .table i:not([class^="fa"]) {
    color: darkgray;
}

.syntax prot, .formula prot, .table prot {
    color: #04a200;
}

.syntax em,  .formula em,  .table em,  mark em,
.syntax lit, .formula lit, .table lit, mark lit {
    color: deepskyblue;
    font-weight: normal;
    font-style: normal;
}

.syntax small, .formula small, .table small, mark small,
.syntax opt,   .formula opt,   .table opt,   mark opt {
    font-size: 1em;
    color: violet;
}

.syntax strong, .formula strong, .table strong, mark strong,
.syntax reqval, .formula reqval, .table reqval, mark reqval {
    color: lightcoral;
    font-weight: normal;
}

.syntax optval, .formula optval, .table optval, mark optval {
    color: darkgray;
}

.formula {
    background-color: lightblue;
}

.example {
    background-color: inherit;
    margin-bottom: 5px;
}

.example > summary, .exampleCode {
    background-color: lightsteelblue;
    color: navy;
    cursor: pointer;
    padding: 1px 0;
}


.important-link:link, .important-link:visited {
    color:yellow;
}

.important-link:active, .important-link:hover{
    background-color: yellow;
    color: black;
}

/*-----------------------------------------------------------*/
/*-- table --------------------------------------------------*/
caption{
    font-weight: 700;
    font-size: 1.4em;
}

.table{
    border: solid black 1px;
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}

.table tr:nth-child(odd){
    background-color: lightcyan;
}

.table tr:nth-child(even){
    background-color: rgb(194, 248, 194);
}

.table th, .table td{
    text-align: left;
    padding-left: 3px;
    font-size: 1.2em;
    border: solid 1px #3b3a3a;
}
 
.table th{
    background-color: firebrick;
    color: white;
    text-align: center;
}

.table tr [colspan] {
    background-color: lightseagreen;
    text-align: center;
}

.changeListOrder {
    display: none;
}

/*-----------------------------------------------------------*/
/*-- sub site & local link ----------------------------------*/
.subSite {
    margin: 3px;
}

.subSite > a {
    font-size: 1.4em;
    letter-spacing: 0.1em;
    color: white;
    font-weight: bold;
}

.subSite > a:hover {
    color: black;
}

.localLink {
  display: inline-block;
  margin: 5px 10px 5px 0;
}

.localLink > a {
  color: DarkSlateGrey;
}

.localLink > a::before {
  content: '#';
}

/*-----------------------------------------------------------*/
/*-- control overflow pre and syntax ------------------------*/
pre, .syntax {
    overflow: auto;
}

/*-----------------------------------------------------------*/
/*-- color HTML5 font awesome badge -------------------------*/
*[class="fab fa-html5"], *[class="fab fa-css3-alt"], *[class="fab fa-js"] {
    color: inherit;
    text-decoration: underline;
}

/*-----------------------------------------------------------*/
/*-- browser support grid in table descriptions -------------*/
#browserSupport, .browserSupport {
    background-color: inherit;
    color: gray;
}

#browserSupport > span, .browserSupport > span{
    border: groove 1px gray;
    padding: 0 2px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: .5em 0;
}

/*-----------------------------------------------------------*/
/*-- link styling -------------------------------------------*/
pre a:any-link, .table a:any-link {
    color: lightseagreen;
}

a:hover {
    background-color: yellow;
}

/*-----------------------------------------------------------*/
/*-- command line like pre element style --------------------*/
.cmd, .cli {
    color: white;
}

/*-----------------------------------------------------------*/
/*-- openable -----------------------------------------------*/
.openable {
    white-space: nowrap;
}

.openable:hover, .changeListOrder:hover {
    background-color: rgb(166, 223, 62);
    color: black;
    cursor: pointer;
}

.openable > div {
    display:none;
    position: relative;
    background-color: #c8e4e4;
    border: double 5px green;
    color: black;
    margin-top: 0;
    padding: 0 5px 0 5px;
    font-style: normal;
    white-space: normal;
}

.openable > div > p {
    margin: inherit;
    padding-left: 25px;
    text-indent: -25px;
}

.openable::before{
    content:"⇣";
    font-size: 1.2em;
}

.changeListOrder {
    user-select: none;
}

*[class^=fab] {
    display: inline;
}

.cssAV {
    color:#7f85a3;
}
