html{
    background-color:darkgray;
    font-family:arial, sans-serif;
}
#sitenav, .sitenav {
    background-color: forestgreen;
}
.content h2 {
    display: inline-block;
    margin: 2px;
}
.content h2::first-letter {
    color: blue;
}
*:focus {
    outline: 2px solid green;
    outline-offset: 1px;
}

/*-------------------------------------- responsive control */ 
@media screen and (max-width:10000px) {
    .content {
        column-count: 3;
    }
}
@media screen and (max-width:1000px) {
    .content {
        column-count: 2;
    }
}
@media screen and (max-width:700px) {
    .content {
        column-count: 1;
    }
}

/*---------------------------------- version grouping style */ 
[class|="ver"]:hover {
    text-shadow: 0 0 15px white;
} 
[class|="ver"]:active {
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}
/*---------------------------------- version 2.1 */ 
.ver-2_1:link, .ver-2_1:visited {
    color: green;
}
/*----------------------------------/* version 2.2 */
.ver-2_2:link, .ver-2_2:visited {
    color: darkgreen;
}
/*---------------------------------- version 2.3 */
.ver-2_3:link, .ver-2_3:visited {
    color: darkred;
}
/*---------------------------------- version 2.4+ (live) */
.ver-live:link, .ver-live:visited {
    color: #460026;
}



