        /*-- simple font family demo --*/
.simpleFontFamilyDemo {
    font-family: "Book Antiqua";
    color: red;
}

        /*-- media__1--*/
[class|=media]{
    background-color: orange;
    max-width: 1000px;
    height: 50px;
    margin: auto;
    text-align: center;
    border: 3px black solid;
}
@media screen and (max-width:800px) and (min-width:500px){
.media-one{
    background-color: green; 
}
}
@media screen and (max-width:500px), screen and (min-width:800px){
.media-two{
    background-color: green;
}
}