html{
    background-color:darkgray;
    font-family:arial, sans-serif;
}
.sitenav{
    background-color: forestgreen;
}
mark, pre{
    background-color: white;
}
.syntax {
    background-color: #4b4b4b;
    color: white;
}
.syntax i, .formula i, .table i {
    color: darkgray;
}
.syntax prot, .formula prot, .table prot {
    color: #04a200;
    }
.syntax em, .formula em, .table em {
    color: deepskyblue;
    font-weight: normal;
    font-style: normal;
}
.syntax strong, .formula strong, .table strong {
    color: lightcoral;
    font-weight: normal;
    font-style: italic;
}
.formula {
    background-color: lightblue;
}
details{
    background-color: lightgreen;
}
.important-link:link, .important-link:visited {
    color:yellow;
}
.important-link:active, .important-link:hover{
    background-color: yellow;
    color: black;
}
	/*-- table --*/
caption{
    font-weight: 700;
    font-size: 1.4em;
}
.table{
    border: solid black 1px;
    width: 95%;
    margin: auto;
    border-collapse: collapse;
}
.table tr:nth-child(odd){
    background-color: lightcyan;
}
.table tr:nth-child(even){
    background-color: lightgreen;
}
.table th, .table td{
    text-align: left;
    padding-left: 3px;
    font-size: 1.2em;
} 
.table th{
    background-color: firebrick;
	color: white;
    text-align: center;
}
.table tr [colspan] {
    background-color: lightseagreen;
    text-align: center;
}
    	/*-- sub site --*/
.subSite > a {
    font-size: 1.4em;
    letter-spacing: 0.1em;
    color: white;
    font-weight: bold;
}
.subSite > a:hover {
    color: black;
}
	/*-- color h2 with no style class --*/
h2:not([style]) {
    background-color: orange;
}
	/*-- control overflow pre and syntax --*/
pre, .syntax {
    overflow: auto;
}
/* ------------------------------------------------------------------------------------------*/
#wrapper {
    width: 154px;
    height: 154px;
    margin-left: 300px;
    user-select: none;
    -moz-user-select: none;
    transform: perspective(500px) rotateX(-15deg) rotateY(15deg);
    transform-style: preserve-3d;
    transform-origin: center center -77px;
}
#wrapper:hover { cursor:grab; }
#wrapper:active { cursor:grabbing; }
.side {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: yellow;
    border: solid 2px black;
    font-size: 5em;
    text-align: center;
    line-height: 150px;
    opacity: .98;
}
.s2 {
    transform-origin: left;
    transform: rotateY(90deg);
    left: 100%;
}
.s3 {
    transform-origin: right;
    transform: rotateY(-90deg);
    right: 100%;
}
.s4 {
    transform: rotateY(180deg) translateZ(154px);
}
.s5 {
    transform-origin: center top;
    transform: rotateX(-90deg);
    top: 100%;
}
.s6 {
    transform-origin: center bottom;
    transform: rotateX(90deg);
    bottom: 100%;
}