html{
    background-color:darkgray;
    font-family:arial, sans-serif;
}
.sitenav{
    background-color: forestgreen;
}
mark, pre{
    background-color: white;
}
.syntax {
    background-color: #4b4b4b;
    color: white;
}
.syntax i, .formula i, .table i {
    color: darkgray;
}
.syntax prot, .formula prot, .table prot {
    color: #04a200;
    }
.syntax em, .formula em, .table em {
    color: deepskyblue;
    font-weight: normal;
    font-style: normal;
}
.syntax strong, .formula strong, .table strong {
    color: lightcoral;
    font-weight: normal;
    font-style: italic;
}
.formula {
    background-color: lightblue;
}
details{
    background-color: lightgreen;
}
.important-link:link, .important-link:visited {
    color:yellow;
}
.important-link:active, .important-link:hover{
    background-color: yellow;
    color: black;
}
	/*-- table --*/
caption{
    font-weight: 700;
    font-size: 1.4em;
}
.table{
    border: solid black 1px;
    width: 95%;
    margin: auto;
    border-collapse: collapse;
}
.table tr:nth-child(odd){
    background-color: lightcyan;
}
.table tr:nth-child(even){
    background-color: lightgreen;
}
.table th, .table td{
    text-align: left;
    padding-left: 3px;
    font-size: 1.2em;
} 
.table th{
    background-color: firebrick;
	color: white;
    text-align: center;
}
.table tr [colspan] {
    background-color: lightseagreen;
    text-align: center;
}
    	/*-- sub site --*/
.subSite > a {
    font-size: 1.4em;
    letter-spacing: 0.1em;
    color: white;
    font-weight: bold;
}
.subSite > a:hover {
    color: black;
}
	/*-- color h2 with no style class --*/
h2:not([style]) {
    background-color: orange;
}
	/*-- control overflow pre and syntax --*/
pre, .syntax {
    overflow: auto;
}
/* ------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------*/


@keyframes planeFly {
    0% {transform: translate(0, 0);}
    100% {
        transform: translate(800px, 0) scale(0.01);
    }
}
@keyframes comeBack {
    from {transform: translate(-400px, 0);}
    55% {transform: translate(4px, 0);}
    to {transform: translate(0, 0);}
}
