html{
    background-color:darkgray;
    font-family:arial, sans-serif;
}
.sitenav{
    background-color: forestgreen;
}
mark, pre{
    background-color: white;
}
.syntax {
    background-color: #4b4b4b;
    color: white;
}
.syntax i, .formula i, .table i {
    color: darkgray;
}
.syntax prot, .formula prot, .table prot {
    color: #04a200;
    }
.syntax em, .formula em, .table em {
    color: deepskyblue;
    font-weight: normal;
    font-style: normal;
}
.syntax strong, .formula strong, .table strong {
    color: lightcoral;
    font-weight: normal;
    font-style: italic;
}
.formula {
    background-color: lightblue;
}
details{
    background-color: lightgreen;
}
.important-link:link, .important-link:visited {
    color:yellow;
}
.important-link:active, .important-link:hover{
    background-color: yellow;
    color: black;
}
	/*-- table --*/
caption{
    font-weight: 700;
    font-size: 1.4em;
}
.table{
    border: solid black 1px;
    width: 95%;
    margin: auto;
    border-collapse: collapse;
}
.table tr:nth-child(odd){
    background-color: lightcyan;
}
.table tr:nth-child(even){
    background-color: lightgreen;
}
.table th, .table td{
    text-align: left;
    padding-left: 3px;
    font-size: 1.2em;
} 
.table th{
    background-color: firebrick;
	color: white;
    text-align: center;
}
.table tr [colspan] {
    background-color: lightseagreen;
    text-align: center;
}
    	/*-- sub site --*/
.subSite > a {
    font-size: 1.4em;
    letter-spacing: 0.1em;
    color: white;
    font-weight: bold;
}
.subSite > a:hover {
    color: black;
}
	/*-- color h2 with no style class --*/
h2:not([style]) {
    background-color: orange;
}
	/*-- control overflow pre and syntax --*/
pre, .syntax {
    overflow: auto;
}
/* ------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------*/

        /*--  Project Game --*/
.background {
    background-color: rgb(52, 166, 251);
    table-layout: fixed;
    border-spacing: 0;
}
.background td {
    padding: 0;
}
.lava {
    background: rgb(255, 100, 100);
}
.wall {
    background: white;
}
.actor {
    position: absolute;
}
.coin {
    background: rgb(241, 229, 89);
    border-radius: 5px;
}
.player {
    background: rgb(64, 64, 64);
}
.lost .player {
    background: rgb(160, 64, 64);
}
.won .player {
    box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
.game {
    overflow: hidden;
    max-width: 600px;
    max-height: 450px;
    position: relative;
    border: solid 1px darkblue;
    border-top: none;
}
.infoLayer {
    background-color:burlywood;
    margin: 0;
    padding: 3px 3px;
    position:relative;
    max-width: 594px;
    border: 1px blue solid;
    border-bottom: none;
}
#lives {
    color:red;
    font-size: 1.1em;
}
.monster {
    background-color: purple;
}











