#testElement {
    color: red;
    font-size: 25px;
    animation: someAnimation 3s infinite;
    animation-direction: alternate;
    animation-play-state: paused;
}

@keyframes someAnimation {
    from { background-color: white; }
    to { background-color: black; }
}