.cursorDem {
    width: auto;
    height: 18px;
}
        
        /*-- cursorevents property TEST --*/
#removePointerEvents {
    pointer-events: none;
}

        /* -- cursor property TEST --*/
ul li{
    padding: 7px;
    background-color:rgb(192, 192, 55); 
    border:3px solid rgb(95, 71, 71); 
    text-align:center;
    display: inline;
    line-height: 2.5em;
}

        /* -- user-select TEST --*/
.uS_auto { 
    user-select: auto;
    -moz-user-select: auto;
    -webkit-user-select: auto;
    -ms-user-select: auto;
}
.uS_none { 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.uS_text { 
    user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
}
.uS_all { 
    user-select: all;
    -moz-user-select: all;
    -webkit-user-select: all;
    -ms-user-select: all;
}

        /* -- clip property TEST --*/
img#guy{
    position:absolute;
}
img#guyclip{
    position:absolute;
    left:300px;
    clip: rect(5px,200px,210px,40px);
}
#par {
    position: absolute;
    width: 300px;
    background-image: radial-gradient(lightgreen, orange);
    border: double 10px blueviolet;
}
#parClip {
    position: absolute;
    width: 300px;
    background-image: radial-gradient(lightgreen, orange);
    border: double 10px blueviolet;
    left:350px;
    clip: rect(10px,110px, 110px,10px);
}

        /*-- clip-path using SVG path TEST --*/
.clipPath_svg {
    width: 300px;
    background-image: radial-gradient(lightgreen, orange);
    border: double 10px blueviolet;
    clip-path: url(#myClip);
}

        /*-- clip-path using basic shapes TEST --*/
.clipPath_basicShape {
    width: 300px;
    background-image: radial-gradient(lightgreen, orange);
    border: double 10px blueviolet;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
        /*-- clip-path using basic shapes TEST-2 --*/



