html{
    background-color:darkgray;
    font-family:arial, sans-serif;
}
.sitenav{
    background-color: forestgreen;
}
mark, pre{
    background-color: white;
}
details{
    background-color: lightgreen;
}
.important-link:link, .important-link:visited {
    color:yellow;
}
.important-link:active, .important-link:hover{
    background-color:white;
    color:yellow;
}
input:required {
    background-color:red;
}

        /*-- JavaScript created element style --*/
.element-input {
    width: 200px;
    background-color: lightblue;
    border: outset 4px;
}