.preloadFix {
    color: red;
    background-color: yellow;
    transition: color 2s;
}    
    
        /*-- TEST-1 --*/
.transition_1{
    width: 400px;
    height: 50px;
    background-color: indianred;
    -webkit-transition: width 2s;
    transition: width 2s;
}
.transition_1:hover{
    width: 800px;
}
    
        /*-- multiple properties TEST --*/
.transition_2{
    position: relative;
    width: 400px;
    height: 50px;
    background-color: indianred;
    -webkit-transition: width 2s, height 4s;
    transition: width 2s, height 4s;
}
.transition_2:hover{
    width: 800px;
    height: 150px;
    position:relative;
}
    
        /*-- transition-delay TEST --*/
.box-delay{
    background-color: forestgreen;
    height: 70px;
    width: 35%;
    transform: rotate(0deg) scale(1.0) translate(0,0);
    transition: transform 2s;
    transition-delay: 1.5s;
}
.box-delay:hover{
    transform: rotate(360deg) scale(2.7) translate(150px,0);
}

        /*-- transition-timing-functions --*/
.timing-function_1{
    background-color: orange;
    height: 70px;
    width: 35%;
    transition: width 2s;
    transition-timing-function: ease;
}
.timing-function_1:hover{
    width: 100%;
}
.timing-function_2{
    background-color: orange;
    height: 70px;
    width: 35%;
    transition: width 2s;
    transition-timing-function: linear;
}
.timing-function_2:hover{
    width: 100%;
}
.timing-function_3{
    background-color: orange;
    height: 70px;
    width: 35%;
    transition: width 2s;
    transition-timing-function: ease-in;
}
.timing-function_3:hover{
    width: 100%;
}
.timing-function_4{
    background-color: orange;
    height: 70px;
    width: 35%;
    transition: width 2s;
    transition-timing-function: ease-out;
}
.timing-function_4:hover{
    width: 100%;
}
.timing-function_5{
    background-color: orange;
    height: 70px;
    width: 35%;
    transition: width 2s;
    transition-timing-function: ease-in-out;
}
.timing-function_5:hover{
    width: 100%;
}
.timing-function_6{
    background-color: orange;
    height: 70px;
    width: 35%;
    transition: width 2s;
    transition-timing-function: cubic-bezier(1,.19,.6,.29);
}
.timing-function_6:hover{
    width: 100%;
}

        /*-- timing-function step TEST --*/
.stepParent {
    border: solid 2px black;
    width: 1000px;
    margin: auto;
}
.stepTest {
    height: 30px;
    width: 250px;
    background-color: orange;
    border: solid 1px black;
    margin: 2px 0;
}
.st1 { 
    animation: 5s 2 forwards;
    animation-timing-function: steps(5); 
}
.st2 { 
    animation: 5s 2 forwards;
    animation-timing-function: steps(5, end); 
}
.st3 { 
    animation: 5s 2 forwards;
    animation-timing-function: steps(5, start); 
}
@keyframes st1 {
    from {width: 250px;}
    to {width: 998px;}
}
@keyframes st2 {
    from {width: 250px;}
    to {width: 998px;}
}
@keyframes st3 {
    from {width: 250px;}
    to {width: 998px;}
}








