        /* box-sizing TEST */
.boxSizing {
    background-color: lightskyblue;
    padding: 10px;
    margin: 5px;
    border: solid 10px black;
    width: 800px;
    height: 200px;
}
.bs1 {
    box-sizing: content-box;
}
.bs2 {
    box-sizing: border-box;
}

        /* width / min-width / max-width TEST */
.widthModif {
    position: relative;
    border: solid 5px red;
    overflow: auto;
    resize: horizontal;
    width: 750px;
}
.widthModif > * {
    background-color: lightseagreen;
    border: solid 3px black;
    padding: 3px;
}
.widthModif p:first-child {
    width: 400px;
}
.widthModif p:nth-child(2) {
    min-width: 400px;
}
.widthModif p:nth-child(3) {
    min-width: 400px;
}
.widthModif p:nth-child(4) {
    max-width: 400px;
}
.widthModif p:nth-child(5) {
    max-width: 400px;
}
.widthModif p:nth-child(6) {
    opacity: 0.3;
    position: absolute;
    border: none;
    background-color: transparent;
    bottom: -15px;
    right: 10px;
    z-index: 1;
}

    /* height / min-height / max-height TEST */
.heightModif {
    position: relative;
    border: solid 5px red;
    overflow: auto;
    width: auto;
    height: 250px;
    margin-top: 30px;
}
.heightModif > * {
    background-color: lightseagreen;
    border: solid 3px black;
    padding: 3px;
    width: 250px;
    display: inline-block;
    vertical-align: text-top;
    margin-top: 0;
}
.heightModif p:first-child {
   height: 75px;
}
.heightModif p:nth-child(2) {
    min-height: 75px;
}
.heightModif p:nth-child(3) {
    min-height: 75px;
}
.heightModif p:nth-child(4) {
    max-height: 75px;
}
.heightModif p:nth-child(5) {
    max-height: 75px;
}

        /* block level element behaviour with "min-width VS min-height" */
#blockT {
    background-color: lightseagreen;
    border: solid 3px black;
    padding: 3px;
    min-width: 1000px;
    min-height: 100px;
}
#inline_bT {
    display: inline-block;
    background-color: lightseagreen;
    border: solid 3px black;
    padding: 3px;
    min-width: 1000px;
    min-height: 100px;
}

        /* resize */
[class|=resize]{
    float: left;
    border: solid 2px black;
    background-color: yellowgreen;
    font-weight: bold;
    padding: 30px;
    margin: 20px;
}
.resize-H{
    resize: horizontal;
    overflow: auto;
}
.resize-V{
    resize: vertical;
    overflow: scroll;
}
.resize-HandV{
    resize: both;
    overflow: hidden;
}
     
        /* top / right / bottom / left properties TEST */
.positioned {
    background-color: yellow;
    width: 700px;
    border: black 2px solid;
    padding: 5px;
    margin: 0;
    left: 20px;
    top: 20px;
}
.pos_rel {
    position: relative;
}
.pos_abs {
    position: absolute;
}
.pos_st {
    position: fixed;
    left: 20px;
}

























