        /*-- simple font family demo --*/
.simpleFontFamilyDemo {
    font-family: "not working family", monospace;
}

        /*-- style fonts --*/
.styleFont {
    font-family: cooperplate, fantasy;
    font-size: 1.3em;
    font-style: italic;
    font-variant: small-caps;
    font-weight: 300;
}

        /*-- font-kerning TEST --*/
@font-face {
    font-family: Abril-Fatface;
    src: url(Font-Families/AbrilFatface-Regular.ttf);
}
.kernelTest {
    font-family: Abril-Fatface, monospace;
    font-size: 2em;
    font-weight: 900;
    margin: 0;
    padding: 0;
}
#kern {
    font-kerning: normal;
    -webkit-font-kerning: normal;
    color: red;
}
#notKern {
    font-kerning: none; 
    -webkit-font-kerning: none; 
    color: green;
}
        
        /*-- font-size-adjust TEST --*/
.fAddjust_1 {
    font-family: Times, sans-serif;
    font-size: 20px;
}
.fAddjust_2 {
    font-family: Arial, sans-serif;
    font-size: 20px;
}
.fAddjust_3 {
    font-family: Abril-Fatface, sans-serif;
    font-size: 20px;
}
.fAddjust_4 {
    font-family: Tahoma, sans-serif;
    font-size: 20px;
}
/* font-size-adjust SET */
.fAddjust_1_set {
    font-family: Times, sans-serif;
    font-size: 20px;
    font-size-adjust: .58;
}
.fAddjust_2_set {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-size-adjust: .58;
}
.fAddjust_3_set {
    font-family: Abril-Fatface, sans-serif;
    font-size: 20px;
    font-size-adjust: .58;
}
.fAddjust_4_set {
    font-family: Tahoma, sans-serif;
    font-size: 20px;
    font-size-adjust: .58;
}

        /*-- font-stretch TEST --*/
.stretchMe_1 {
    font-size: 2em;
    margin: 0;
    font-stretch: ultra-condensed;
}
.stretchMe_2 {
    font-size: 2em;
    margin: 0;
    font-stretch: condensed;
}
.stretchMe_3 {
    font-size: 2em;
    font-stretch: normal;
    margin: 0;
}
.stretchMe_4 {
    font-size: 2em;
    font-stretch: expanded;
    margin: 0;
}
.stretchMe_5 {
    font-size: 2em;
    font-stretch: ultra-expanded;
    margin: 0;
}

        /*-- font (shorthand property) TEST --*/
.short_1 {
    font-family: Abril-Fatface, monospace;
    font-variant: small-caps;
    font-style: italic;
    font-weight: 100;
    font-size: 2em;
    line-height: 10px;
}
.short_2 {
    font: italic small-caps 100 2em/10px Abril-Fatface, monospace;
}
.short_3 { font: caption; }
.short_4 { font: icon; }
.short_5 { font: menu; }
.short_6 { font: message-box; }
.short_7 { font: small-caption; }
.short_8 { font: status-bar; }

        /*-- @font-face roule TEST1 --*/
@font-face{
    font-family: myfont1;
    src: url(Font-Families/Pacifico.ttf);
}
@font-face{
    font-family: myfont2;
    src: url(Font-Families/GloriaHallelujah.ttf);
    
}
@font-face{
    font-family: myfont3;
    src: url(Font-Families/CoveredByYourGrace.ttf);
}
.fontFace1 {
    font-family: myfont1;
    font-variant: small-caps;
}
.fontFace1 + p {
    font-family: myfont2;
    color: brown;
}
.fontFace1 + p + p {
    font-family: myfont3;
    font-weight: 500;
}

        /*-- unicode range set @font-face TEST --*/
@font-face {
    font-family: Pacifico;
    src: url(Font-Families/Pacifico.ttf);
    unicode-range: U+003A-007A;
}
#fontF_unicode {
    font-family: Pacifico, monospace;
}