.browser-font-support-table tbody tr td {
    text-align: center;
}
.browser-font-support-table .not-supported {
    color: orange;
}


        /*-- font-kerning TEST --*/
@font-face {
    font-family: Abril-Fatface;
    src: url(Font-Families/AbrilFatface-Regular.ttf);
}

        /*-- font-stretch TEST --*/
@font-face {
  src: url("https://mdn.github.io/shared-assets/fonts/LeagueMono-VF.ttf");
  font-family: "LeagueMonoVariable";
  font-style: normal;
  font-stretch: 1% 500%; /* Required by Chrome */
}

        /*-- @font-face roule TEST1 --*/
@font-face{
    font-family: myfont1;
    src: url(Font-Families/Pacifico.ttf);
}
@font-face{
    font-family: myfont2;
    src: url(Font-Families/GloriaHallelujah.ttf);
    
}
@font-face{
    font-family: myfont3;
    src: url(Font-Families/CoveredByYourGrace.ttf);
}
/* .fontFace1 {
    font-family: myfont1;
    font-variant: small-caps;
}
.fontFace1 + p {
    font-family: myfont2;
    color: brown;
}
.fontFace1 + p + p {
    font-family: myfont3;
    font-weight: 500;
} */
