.frame {
    position:relative;
    cursor: grab;
}
.frame:active {
    cursor: grabbing;
}
.parentBrowserEng {
    border: black solid 3px;
    overflow: auto;
    position: absolute;
    z-index: 0;
}
.frame > div:first-child {
    position: absolute;
    left: 3px;
    top: 3px;
    height: 35px;
    width: 500px;
    overflow: hidden;
    z-index: 1;
    border-bottom: 1px dashed black;
}


