    /*-- Drag and Drop DEMO -- */
[class^="dragC"] {
    width: 150px;
    height: 70px;
    border: solid red 2px;
    float: left;
    margin: 0 25px;
}

    /*-- Drop DEMO TEST --*/
[id^=cont] {
    width: 100px;
    height: 75px;
    border: solid black 2px;
    float: left;
    margin: 0 20px;
}

    /*-- Phone Numbers DnD --*/
[type="A"] {
    float : left;
}
[type="A"] li {
    text-decoration: underline;
}
[type="A"] li:first-child {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}
#collectPhoneNR {
    width : 180px;
    height: 100px;
    border: solid black 2px;
    float: left;
    margin-left: 25px;
    background-color: orange;
    padding: 10px;
}

    /*-- Move Boxes DnD --*/
[id|="Box"] {
    width: 150px;
    height: 150px;
    border: dashed red 10px; 
    float: left;
    margin: 0 25px;
    position: relative;
    padding: 15px;
    background-color: orange;
}
[id|="Box"] div {
    border: solid white 3px;
    padding: 10px;
    width: 70px;
    margin: 5px 0;
    font-weight: bold;
    background-color: royalblue;
}

    /*-- File Drop to browser --*/
#fileDrop {
    width: 250px;
    height: 170px;
    border: solid black 2px;
}
