        /*-- weird id TEST --*/
#\#\.\#\.\# {
    color: green;
}
.\`\@\% {
    color: green;
}

        /*-- tabindex TEST --*/
[tabindex]:focus {
    outline: 3px solid red;
}

        /*-- accesskey TEST --*/
input[accesskey]:focus {
    background-color:greenyellow;
}


