html{
    background-color:darkgray;
    font-family:arial, sans-serif;
}
p#sitenav{
    background-color: forestgreen;
}
pre,mark{
    background-color: white;
}                                     
            /*text dropdown*/
div.droptext{
    position: relative;
    display: inline-block;
}
div.droptext span{
    color: red;
    font-size: 1.5em;
    font-weight: bold;
}
.drop-content{
    display: none;
    position: absolute;
    padding : 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1.0);
    background-color: red;
    font-weight: 600;
    min-width: 200px;
    text-align: center;
}
.droptext:hover .drop-content{
    display: block;
}
            /*menu dropdown*/
div.dropmenu{
    position: relative;
    display: inline-block;
}
.dropbtn{
    padding: 15px 25px;
    background-color: darkgreen;
    color: white;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}
div.dropcont a{
    display: block;
    text-decoration: none;
    padding: 15px;
    color: white;
    text-align: center;
    font-size: 1.2em;
}
div.dropcont{
    display: none;
    position: absolute;
    width: 100%;
    background-color: green;
}
div.dropmenu:hover .dropbtn{
    background-color: green;
}
.dropmenu:hover .dropcont{
    display: block;
}
div.dropcont a:hover{
    background-color: darkgreen;
}
            /*image dropdown*/
div.img{
    border: solid black 2px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
div.imgcont{
    display: none;
    position: absolute;
    background-color: lightgreen;
    height: 350px;
}
div.imgcont p{
    text-align: center;
    line-height: 40%;
    font-weight: bold;
}
div.img:hover div.imgcont{
    display: block;
}