html{
    background-color:darkgray;
    font-family:arial, sans-serif;
}
p#sitenav{
    background-color: forestgreen;
}
mark, pre{
    background-color: white;
}
        /*Horisonta Menu*/
ul.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: gray;
    border: 1px solid black;
}
ul.menu li:not(#last){
    border-bottom: 1px solid black;
}
ul.menu li a{
    display: block;
    text-decoration: none;
    padding: 10px 25px;
    color: black;
    font-weight: 700;
    text-align: center;
}
ul.menu li a:hover:not(#active){
    background-color: gold;
    color: black;
}
ul.menu li a#active{
    background-color: green;
}
        /* Sticky Horisontan Menu Bar */
div#smenu{
    width: 75%;
    height: 400px;
    background-color: lightgrey;
    margin: auto;
    border: double black 5px;
    position: relative;
}
ul.menu2{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: gray;
    height: 100%;
    position:absolute;
}
ul.menu2 li a{
    display: block;
    text-decoration: none;
    padding: 10px 25px;
    color: black;
    font-weight: 700;
    text-align: center;
}
ul.menu2 li a:hover:not(#active){
    background-color: gold;
    color: black;
}
ul.menu2 li a#active{
    background-color: green;
}
div#smenucontent{
    margin-left: 25%;
    overflow: auto;
    height:400px;
    padding-left:2px;
}
        /*Horizontal Menu Inline method*/
ul.inlineblock{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: gray;
}
ul.inlineblock li{
    display: inline-block;
    margin-right: -10px;
}
ul.inlineblock li a{
    text-decoration: none;
    font-weight: 700;
    color: black;
    display: block;
    padding: 13px;
    padding-right: 11px;
}
ul.inlineblock li a#active{
    background-color: green;
}
ul.inlineblock li:hover:not(#active){
    background-color: white;
}
    /*Horizontal Menu Float method*/
ul.inlinefloat{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: gray;
}
ul.inlinefloat li{
    float: left;
}
ul.inlinefloat li#last{
    float: right;
}
ul.inlinefloat li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    font-weight: 700;
    color:black;
}
ul.inlinefloat li a#active{
    background-color: green;
}
ul.inlinefloat li#last a#last{
    background-color: rgb(25,25,25);
    color: white;
}
ul.inlinefloat li a:hover:not(#active):not(#last){
    background-color: yellow;
}
ul.inlinefloat li:not(#last){
    border-right: solid white 1px;
}
                                              