#iframe1{
    border: 3px double black; 
    width: 80%; 
    height: 150px;
    margin-left: 10%;
}
#iframe2{
    width: 80%;
    height: 150px;
    margin-left: 10%;
    border: 3px double black;
}