        /* multiple BG TEST */
.multiple_BG {
    width: 500px;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(small-tile.png), url(bush2.png);
}
        /* -- */
div#div{
    background-color: black;
    height: 100px;
    width: 60%;
    margin: auto;
}
h3#heading{
    background-color: yellow;
    width: 500px;
    text-align: center;
    margin: auto;
}
p#paragraph{
    background-color: red;
    width: 500px;
    text-align: center;
    margin: auto;
}
p#divp{
    color: white;
    text-align: center;
}
div#divimage{
    background-image: url(../../../../Pictures/tile.png);
    border: solid black;
    width: 900px;
    height: 250px;
    margin: auto;
}
p.divcontent{
    font-family: arial, sans-serif;
    color: white;
    font-size: 1.3em;
}
div#bgno-repeat{
    background-image: url(../../../../Pictures/tile.png);
    background-repeat: no-repeat;
    background-position: 100px -75px;
    border: solid black;
    width: 900px;
    height: 300px;
    margin: auto;
}
div#bgno-yrepeat{
    background-image: url(../../../../Pictures/tile.png);
    background-repeat: repeat-y;
    border: solid black;
    width: 900px;
    height: 300px;
    margin: auto;
}
div#multiplebg{
    background: darkblue url(../../../../Pictures/tile.png) repeat-x center;
    border: solid black 2px;
    width: 900px;
    height: 450px;
    margin: auto;
}
#multiple-image{
    background-image: url(bush1.png), url(bush1.png), url(bush2.png), url(../../../../pictures/tile.png) ;
    background-repeat: no-repeat, no-repeat, no-repeat, repeat;
    background-position: bottom left, bottom right, 50% 45%, top left;
    background-size: 50%, 50%, 35%, auto;
    border: solid black 2px;
    width: 900px;
    height: 450px;
    margin: auto;
}
    
        /*-- background-size TEST --*/
.bgSize {
    width: 300px;
    height: 150px;
    border: solid 1px red;
    margin: 2px 15px;
    background-image: url(small-tile.png);
    background-repeat: no-repeat;
}
.sAuto { background-size: auto; }
.sManual { background-size: 250px 54px; }
.sContain { background-size: contain; }
.sCover {background-size: cover; }
    
        /* background-repeat: space VS round */
.space_VS_round {
    width: 500px;
    height: 250px;
    border: solid black 2px;
    background-image: url("small-tile.png");
}

        /* background-attachement scroll TEST */
.BG_attach {
    display: inline-block;
    color: white;
    width: 200px;
    height: 70px;
    overflow: auto;
    margin: 0 15px;
    border: solid 2px black;
    background: url("small-tile.png");
}
.scroll_BG {
    background-attachment: scroll;
}
.fixed_BG {
    background-attachment: fixed;
}
.local_BG {
    background-attachment: local;
}

        /* background origin and clip TEST */
#cover1{
    background-image: url(tile.png);
    background-origin: border-box;
    background-repeat: no-repeat;
    padding: 60px;
    border: black dashed 15px;
    width: 380px;
    height: 200px;
    float: left;
    margin: 30px;
}
#cover2{
    background-image: url(tile.png);
    background-origin: padding-box;
    background-repeat: no-repeat;
    padding: 60px;
    border: black dashed 15px;
    width: 380px;
    height: 200px;
    float: left;
    margin: 30px;
}
#cover3{
    background-image: url(tile.png);
    background-origin: content-box;
    background-repeat: no-repeat;
    padding: 60px;
    border: black dashed 15px;
    width: 380px;
    height: 200px;
    float: left;
    margin: 30px;
}
#cover4{
    background-color: green;
    padding: 60px;
    border: black dashed 15px;
    width: 380px;
    height: 200px;
    float: left;
    margin: 30px;
}
#cover5{
    background-color: green;
    background-clip: padding-box;
    padding: 60px;
    border: black dashed 15px;
    width: 380px;
    height: 200px;
    float: left;
    margin: 30px;
}
#cover6{
    background-color: green;
    background-clip: content-box;
    padding: 60px;
    border: black dashed 15px;
    width: 380px;
    height: 200px;
    float: left;
    margin: 30px;
}

        /* background-origin VS background-clip */
.testBox{
    color: white;
    font-size: 1.2em;
    background-image: url(small-tile.png);
    padding: 60px;
    border: black dashed 15px;
    width: 380px;
    height: 200px;
    margin: 30px;
    float: left;
}
.b1 {
    background-origin: border-box;
}
.b2 {
    background-origin: border-box;
    background-clip: padding-box;
}
.b3 {
    background-origin: border-box;
    background-clip: content-box;
}
.b4 {
    background-origin: content-box;
    background-clip: border-box;
}

        /*-- box-decoration-break TEST --*/
.bgDeco {
    border: double 10px darkorchid;
    padding: 7px;
    border-radius: 20px;
    line-height: 3.5em;
    background-image: url("bush2.png");
    background-size: cover;
    box-shadow: 0 0 10px 5px green;
}
.bgSlice {
    box-decoration-break: slice;
    -webkit-box-decoration-break: slice;
}
.bgClone {
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

        /* background shorthand property */
.shorthand_BG{
    width: 550px;
    height: 200px;
    border: solid 6px rgba(0, 0, 0, 0.7);
    background: url("small-tile.png") repeat-y border-box scroll;
}

        /*Linear Gradient*/
.linear-gradient-defalut{                     
    float: left; 
    margin: 5px 0 0 5px;
    border: solid 3px white; 
    width: 32%;
    height: 250px;
    background: linear-gradient(blue,white);  
}                                                                   
.linear-gradient-ltr{
    float: left;
    margin: 5px 0 0 5px;
    border: solid 3px white;
    width: 32%;
    height: 250px;
    background: linear-gradient(to right,blue,white);
}
.linear-gradient-diagonal{             
    float: left;             
    margin: 5px 0 0 5px;             
    border: solid 3px white;
    width: 32%;  
    height: 250px;
    background: linear-gradient(to top right,blue,white);
} 
.linear-gradient-angle{
    float: left;
    margin: 5px 0 0 5px;
    border: solid 3px white;
    width: 32%;
    height: 250px;
    background: linear-gradient(30deg,blue,white);
}   
.linear-gradient-multiplecolor{ 
    float: left;
    margin: 5px 0 0 5px; 
    border: solid 3px white;
    width: 32%;
    height: 250px; 
    background: linear-gradient(to top,red,blue,white,green); 
} 
.linear-gradient-transparent{
    float: left;
    margin: 5px 0 0 5px;
    border: solid 3px white;
    width: 32%;
    height: 250px;
    background: linear-gradient(to right,blue,rgba(0,0,0,0),red);
}
        /* Specified Color Start Gradient */
.linear-gradient-multiple-propotions{ 
    float: left; 
    margin: 5px 0 0 5px;
    border: solid 3px white;
    width: 32%;
    height: 250px; 
    background: linear-gradient(to right,blue,white,red);
}  
.linear-gradient-multiple-propotions2{
    float: left;
    margin: 5px 0 0 5px;
    border: solid 3px white;
    width: 32%;
    height: 250px;
    background: linear-gradient(to right,blue 25%,white 50%,red 75%);
}
.linear-gradient-multiple-propotions3{ 
    float: left;
    margin: 5px 0 0 5px; 
    border: solid 3px white; 
    width: 32%; 
    height: 250px;
    background: linear-gradient(to right,blue 25%,white 25%,red);
}
.linear-gradient-multiple-propotions4{
    float: left;
    margin: 5px 0 0 5px;
    border: solid 3px white;
    width: 32%;
    height: 250px;
    background: linear-gradient(to right,blue 30%,white 30%,white 70%,red 70%);
}
.linear-gradient-multiple-propotions5{
    float: left;
    margin: 5px 0 0 5px;
    border: solid 3px white;
    width: 32%;
    height: 250px;
    background: linear-gradient(to bottom right,blue 10%,white 10%,white 20%,red 20%,red 30%,yellow 30%,black,green,purple 70%,blue 70%,blue 80%,white 80%,white 90%,red 90%);
}
        /* Repeating Linear Gradient */
.linear-gradient-repeat1{
    float: left;
    margin: 5px 0 0 5px;
    border: solid 3px white;
    width: 32%;
    height: 250px;
    background: repeating-linear-gradient(to right,blue,white,red 20%);
}
.linear-gradient-repeat2{
    float: left;
    margin: 5px 0 0 5px;
    border: solid 3px white;
    width: 32%;
    height: 250px;
    background: repeating-linear-gradient(to right,blue,blue 7%,white 7%,white 14%,red 14%, red 21%);
}
.linear-gradient-repeat3{
    float: left;
    margin: 5px 0 0 5px;
    border: solid 3px white;
    width: 32%;
    height: 250px;
    background: repeating-linear-gradient(to right,lightgray,lightgray 1%,white 1%,white 2%);
}
        /*  Radial Gradient */
.radial-gradient-radial1{
    float: left;
    margin: 5px 0 0 5px;
    border: solid 3px white;
    width: 32%;
    height: 250px;
    background: radial-gradient(blue,red,white);
}
.radial-gradient-radial2{
    float: left;
    margin: 5px 0 0 5px;
    border: solid 3px white;
    width: 32%;
    height: 250px;
    background: radial-gradient(blue 5%,red 25%,white);
}
.radial-gradient-radial3{
    float: left;
    margin: 5px 0 0 5px;
    border: solid 3px white;
    width: 32%;
    height: 250px;
    background: radial-gradient(circle, blue,red 50%,white);
}
        /* Radial Gradient Sizes */
.radial-gradient-farthest-corner{
    float: left;
    margin: 5px 0 0 5px;
    border: solid 3px white;
    width: 32%;
    height: 250px;
    background: radial-gradient(farthest-corner at 70% 75%,blue,white,red,yellow,black);
}
.radial-gradient-closest-corner{
    float: left;
    margin: 5px 0 0 5px;
    border: solid 3px white;
    width: 32%;
    height: 250px;
    background: radial-gradient(closest-corner at 70% 75%,blue,white,red,black);
}
.radial-gradient-farthest-side{
    float: left;
    margin: 5px 0 0 5px;
    border: solid 3px white;
    width: 32%;
    height: 250px;
    background: radial-gradient(farthest-side at 70% 75%,blue,white,black);
}
.radial-gradient-closest-side{
    float: left;
    margin: 5px 0 0 5px;
    border: solid 3px white;
    width: 32%;
    height: 250px;
    background: radial-gradient(closest-side at 70% 75%,blue,black);
}
        /*  Repeating Radial Gradient*/
.repeating-radial-gradient-1{
    float: left;
    margin: 5px 0 0 5px;
    border: solid 3px white;
    width: 32%;
    height: 250px;
    background: repeating-radial-gradient(blue,white 10%,red 15%);
}
.repeating-radial-gradient-2{
    float: left;
    margin: 5px 0 0 5px;
    border: solid 3px white;
    width: 32%;
    height: 250px;
    background: repeating-radial-gradient(blue,blue 5%,white 5%,white 10%,red 10%,red 15%);
}
.repeating-radial-gradient-3{
    float: left;
    margin: 5px 0 0 5px;
    border: solid 3px white;
    width: 32%;
    height: 250px;
    background: repeating-radial-gradient(circle,blue,white 10%,red 15%);
}   
.repeating-radial-gradient-4{
    float: left;
    margin: 5px 0 0 5px;
    border: solid 3px white;
    width: 32%;
    height: 250px;
    background: repeating-radial-gradient(ellipse at -10% -10%,blue,white 10%,red 15%);
}   
.repeating-radial-gradient-5{
    float: left;
    margin: 5px 0 0 5px;
    border: solid 3px white;
    width: 32%;
    height: 250px;
    background: repeating-radial-gradient(ellipse at 100% 100%,blue,white 10%,red 15%);
}
        /*  Fancy Stuff */
.fancy-gradient-1{
    float: left;
    margin: 5px 0 0 5px;
    border: solid 3px white;
    width: 32%;
    height: 250px;
    background: repeating-radial-gradient(circle,rgba(0,0,0,0.0),rgba(0,0,0,0.0) 5%,grey 5%, black 10%), 
                repeating-linear-gradient(to right,red,red 5%,green 5%, green 10%);
}
        /*---Gradient Border---*/
.gradientbord{
    width: 20%;
    height: 150px;
    float: left;
    margin: 10px;
    margin-left: 25px;
    background-color: white;
    border: black solid 20px;
    border-image: linear-gradient(red,green,black) 1;
}
.gradientbord:hover{
    border: black solid 20px;
    border-image: linear-gradient(black,red,green) 1;
}
.gradientbord2{
    width: 20%;
    height: 150px;
    float: left;
    margin: 10px;
    margin-left: 25px;
    background-color: white;
    border: black solid 20px;
    border-image: repeating-linear-gradient(45deg,red,red 2%,purple 2%,purple 10%) 20;
}
.gradientbord2:hover{
    border: black solid 20px;
    border-image: repeating-linear-gradient(135deg,red,red 2%,purple 2%,purple 10%) 20;
}
    
        /*---Conic Gradient---*/
.conic-gradient-1{
    float: left;
    margin: 5px 0 0 5px;
    border: solid 3px white;
    width: 32%;
    height: 250px;
    background: conic-gradient(red, blue)
}
.conic-gradient-2{
    float: left;
    margin: 5px 0 0 5px;
    border: solid 3px white;
    width: 32%;
    height: 250px;
    background: conic-gradient(red 45deg, white 190deg, green 210deg);
}
.conic-gradient-3{
    float: left;
    margin: 5px 0 0 5px;
    border: solid 3px white;
    width: 32%;
    height: 250px;
    background: conic-gradient(red 45deg, white 45deg 190deg, green 180deg 210deg);
}   
.conic-gradient-4{
    float: left;
    margin: 5px 0 0 5px;
    border: solid 3px white;
    width: 32%;
    height: 250px;
    background: conic-gradient(from 90deg, red, white, green);
}   
.conic-gradient-5{
    float: left;
    margin: 5px 0 0 5px;
    border: solid 3px white;
    width: 32%;
    height: 250px;
    background: conic-gradient(from 90deg at 25% 25%, red, white, green);
}
