{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' type='text/css' href="{% static 'baseX.css' %}">
  
  {% if True %}
  <title>true document title</title>
  {% else %}
  <title>false document title</title>
  {% endif %}
  </head>

<body>
  <h3> Heading 3 </h3>
  <p style='background-color:yellowgreen;'> This is the base page start </p>
  {% block users %} {% endblock %}
  {% block footer %} {% endblock %}
  {% block link_to_about %} {% endblock %}

  <p style='background-color:yellowgreen;'> This is the base page end </p>
</body>

</html>