        /*-- Image Sprites TEST --*/
#one{
    height: 100px;
    width: 100px;
    background: url(Images/angry_birds.png) -12px -14px;
}
#two{
    height: 68px;
    width: 100px;
    background: url(Images/angry_birds.png) -323px -22px;
}
#three{
    height: 90px;
    width: 75px;
    background: url(Images/angry_birds.png) -395px -508px;
}
#four{
    height: 60px;
    width: 60px;
    background: url(Images/angry_birds.png) -1005px -1512px;
}
#five{
    height: 48px;
    width: 48px;
    background: url(Images/angry_birds.png) -1123px -1453px;
}

        /*-- Image sprite on an Inline Element --*/
#elementSpriteImage {
    display: inline-block;
    border: solid black 2px;
    background: url(Images/angry_birds.png) 50px 80px; 
    padding: 20px;
    height: 40px;
    width: 100px;
}    
#elementSpriteImage:hover {
    border: solid red 2px;
    background: url(Images/angry_birds%20hover.png) 50px 80px;
}

        /*-- Image Sprite Horizontal Menu --*/
#menu{
    position: relative;
    height: 50px;
}
#menu li{
    list-style-type: none;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
}
#menu li, #menu a{
    display: block;
    height: 50px;
}
#home{
    width: 100px;
    left: 0;
    background: url(Images/navBar_Bg.png) 0 0;
}
#home:hover{
    background: url(Images/navBar_Bg.png) 0 50px;
}
#about{
    width: 100px;
    left: 100px;
    background: url(Images/navBar_Bg.png) -100px 0;
}
#about:hover{
    background: url(Images/navBar_Bg.png) -100px 50px;
}
#contact{
    width: 100px;
    left: 198px;
    background: url(Images/navBar_Bg.png) 200px 0;
}
#contact:hover{
    background: url(Images/navBar_Bg.png) 200px 50px;
}
#services{
    width: 100px;
    left: 290px;
    background: url(Images/navBar_Bg.png) -301px 0;
}
#services:hover{
    background: url(Images/navBar_Bg.png) -301px 50px;
}  

        /*-- style images in <pitucre> element --*/
.pic_1 {            /* this has no effect */
    width: 10%;     
}
.pic_2 {            /* this has no effect */
    width: 50%;
}
.pic_3 {
    width: 60%;
}

        /*-- CSS Filters --*/
#filters img{
    float:left;
    padding: 15px;
    max-width: 250px;
    height: auto;
}
#fxnone{
    filter: none;
    -webkit-filter: none;
}
#fxblur{
    filter: blur(7px);
    -webkit-filter: blur(7px);
}
#fxbrightness{
    filter: brightness(1000%);
    -webkit-filter: brightness(1000%);
}
#fxcontrast{
    filter: contrast(500%);
    -webkit-filter: contrast(500%);
}
#fxgreyscale{
    filter: grayscale(100%);
    -webkit-filter: greyscale(100%);
}
#fxhue-rotate{
    filter: hue-rotate(180deg);
    -webkit-filter: hue-rotate(180deg);
}
#fxinvert{
    filter: invert(100%);
    -webkit-filter: invert(100%);
}
#fxopacity{
    filter:opacity(25%);
    -webkit-filter:opacity(25%);
}
#fxsaturate{
    filter: saturate(500%);
    -webkit-filter: saturate(500%);
}
#fxsepia{
    filter: sepia(85%);
    -webkit-filter: sepia(85%);
}
#fxdrop-shadow{
    filter: drop-shadow(12px 12px 8px green);
    -webkit-filter: drop-shadow(12px 12px 8px green);
}
#fxmix{
    filter: drop-shadow(12px 12px 8px green) blur(2px) hue-rotate(180deg);
    -webkit-filter: drop-shadow(12px 12px 8px green) blur(2px) hue-rotate(180deg);
}

        /*-- Simple Responsive Image --*/
#resize{
    display:block;
    margin:auto;
    max-width: 60%;
    height: auto;
}

        /*-- Text on Image --*/
#imgcont{
    position: relative;
    margin: auto;
    width: 600px;
}
#imgcont img{
    width: 600px;
    height: auto;
}
#imgtitle{
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.0em;
}
#imgtitle1{
    position: absolute;
    top: 100px;
    right: 70px;
    font-size: 1.5em;
    color: blueviolet;
}
#imgtitle2{
    position: absolute;
    bottom: 35px;
    left: 35px;
    font-size: 1.5em;
    color: darkmagenta;
}

        /*-- Polaroid --*/
.polaroidbgd{
    position: relative;
    background-color: white;
    width: 100%;
    height: 500px;
}
.polaroid1{
    position: absolute;
    top: 35px;
    left: 7%;
    background-color: white;
    width: 40%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.polaroid1 img{
    width: 100%;
}
.polaroid1 p{
    text-align: center;
}
.polaroid2{
    position: absolute;
    top: 35px;
    right: 7%;
    background-color: white;
    width: 40%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.polaroid2 img{
    width: 100%;
}
.polaroid2 p{
    text-align: center;
}

        /*-- Hoverable User Profil Images --*/
div[class|=profile]{
    position: relative;
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    box-shadow: 5px 5px 2px grey;
}
div[class|=profile] > img{
    display: block;
    width: 100%;
    height: auto;
}
.profile-01{
    background-color: red;
}
.pro-01_cover{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #008CBA;
    opacity: 0;
    transition: .5s ease;
}
.pro-01_cover > p{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transform: translate(-50%,-100%);
}
.profile-01:hover .pro-01_cover{
    opacity: 1;
    cursor: pointer;
}

.profile-02{
    background-color: white;
}
.pro-02_cover{
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    bottom: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: #008CBA;
    transition: .5s ease;
}
.pro-02_cover > p{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transform: translate(-50%,-100%);
}
.profile-02:hover .pro-02_cover{
    bottom: 0;
    height: 100%;
    cursor: pointer;
}
.profile-03{
    background-color: green;
}
.pro-03_cover{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
}
.pro-03_cover > p{
    width: 50%;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transform: translate(-50%,-100%);
    background-color: #008CBA;
    padding: 10px;
    transition: 0.7s;
    opacity: 0;
}
.profile-03 > img{
    transition: 0.7s;
    opacity: 1;
}
.profile-03:hover .pro-03_cover > p{
    cursor: pointer;
    opacity: 1;
}
.profile-03:hover img{
    opacity: 0.5;
    cursor: pointer;
}

        /*-- object-fit property TEST --*/
.objFit {
    border: solid 1px red;
    width: 200px;
    height: 200px;
}
.posFill { object-fit: fill }
.posContain { object-fit: contain }
.posCover {object-fit:cover }
.posNone {object-fit:none }
.posScaleDown {object-fit: scale-down }
.posScaleDown_ {
    border: solid 1px red;
    width: 80px;
    height: 80px;
    object-fit: scale-down;
}

        /*-- object-position property TEST --*/
.objPos {
    border: solid 1px red;
    object-fit: none;
    width: 200px;
    height: 200px;
}
.pos1 { object-position: top center; }
.pos2 { object-position: bottom right; }
.pos3 { object-position: 80% 5%; }
.pos4 { object-position: 148px -22px; }



